[2015-03-05 20:46] alinapopa opened #16 "Fix nuget.org entry in nuget.config"
In Nuget.config
"https://nuget.org/api/v2/"
should be
"https://www.nuget.org/api/v2/"

[2015-03-07 10:25] conniey opened #18 "Library does not build in Linux"
`kpm pack` fails because powershell is not on Linux.

Due to this: [project.json: Line 12](https://github.com/Microsoft/dotnet-apiport/blob/master/src/Microsoft.Fx.Portability/project.json#L12)

[code]

[2015-04-16 17:56] #16 closed, assigned to nobody

[2015-04-16 19:14] twsouthwick opened #27 "Find referenced assemblies in MetadataReader finder"

[2015-04-21 00:24] twsouthwick opened #31 "DocId is not generated correctly for a generic method within a generic class with different generic types"
The docid for the method MemberWithDifferentGeneric in the example below is not generated correctly.

**Expected:** `M:ConsoleApplication2.GenericClass`1.MemberWithDifferentGeneric``1(``0)`

**Observed:** `M:ConsoleApplication2.GenericClass`1.MemberWithDifferentGeneric(``0)`

[code]

[2015-04-21 00:40] twsouthwick opened #32 "Make default output format dynamic"
We should make the service return the default output format instead of hard coding 'Excel'

[2015-04-22 23:50] #31 closed, assigned to nobody

[2015-04-23 14:47] mjrousos opened #38 "Command-line parameters are case-sensitive"
This command: "apiport analyze --showBreakingChanges --resultFormat=HTML -f=." produces an output file that has no extension and, upon renaming, turns out to actually be an xlsx file. Investigating, it appears that the issue is that '--resultFormat' isn't recognized because it doesn't match the expected case of resultformat.

[2015-04-23 19:49] #38 closed, assigned to nobody

[2015-04-23 21:53] mjrousos opened #40 "Unity.config is not loading when ApiPort is run from a different directory"
It seems to be the case that ApiPort is loading Unity.config from the current working directory instead of from next to the ApiPort.exe binary.

[2015-04-23 22:05] mjrousos opened #41 "ApiPort's metadata reader fails on some AppCompat-lab assets"
System.BadImageFormatException: Format of the executable (.exe) or library (.dll) is invalid.
   at System.Reflection.Metadata.Decoding.SignatureDecoder.DecodeType[TType](BlobReader& blobReader, SignatureTypeCode typeCode, ISignatureTypeProvider`1 provider) in d:\Builds\1161\dotnetcore\corefx-dev-metadata-realsigned\src\src\System.Reflection.Metadata\src\System\Reflection\Metadata\Decoding\Signatu

[2015-04-23 22:42] twsouthwick opened #42 "Multidimensional arrays with a primitive type cannot find assembly defined in"
Use the following as input:

[code]

Expected type info:

[code]

What we see right now:

[code]

[2015-04-23 23:21] twsouthwick opened #43 "Iterator block for IEnumerable<T1<T2,T3>> generates incorrect docid"
Use the following as the input assembly:

	using System;
	using System.Collections.Generic;

	namespace Microsoft.Fx.Portability.MetadataReader.Tests
	{
		class CallOtherClass
		{
			static void Main(string[] args)
			{
				OtherClass.GetValues<int>();
			}
		}

		public class OtherClass
		{
			internal static IEnumerable<Tuple<T, int>> GetValues<T>()
			{
				yield break;
			}
		}
	}

The docid g

[2015-04-23 23:33] twsouthwick opened #44 "Docid generation for implicit operators is incorrect"
Use the following code as the input to the dependency finder:

[code]

The generated docid for the implicit operator is incorrect.

**Expected:** `M:Microsoft.Fx.Portability.MetadataReader.Tests.Class2`1.op_Implicit(Microsoft.Fx.Portability.MetadataReader.Tests.Class2{`0})~Microsoft.Fx.Portability.MetadataReader.Tests.Class1{`0}`
**Actual:** `M:Microsoft.Fx.Portability.MetadataReader.Tests.Class2`

[2015-04-24 02:55] twsouthwick opened #45 "Nested class with >9 type parameters fails to create correct docid"
Use the following code as the input to the dependency finder:

[code]

The generated docid for the InnerClass constructor is incorrect.

**Expected:** `M:Microsoft.Fx.Portability.MetadataReader.Tests.Class`10.InnerClass.#ctor(Microsoft.Fx.Portability.MetadataReader.Tests.Class{`0,`1,`2,`3,`4,`5,`6,`7,`8,`9},`2)`
**Actual:** `M:Microsoft.Fx.Portability.MetadataReader.Tests.Class`10.InnerClass.#ctor

[2015-04-24 18:40] #44 closed, assigned to nobody

[2015-04-24 18:50] #40 closed, assigned to mjrousos

[2015-04-24 23:02] #45 closed, assigned to nobody

[2015-04-24 23:17] twsouthwick opened #51 "Some op_Implicit methods shouldn't have `~[ReturnType]` appended to it"
Use the following code as input:

[code]

The implicit conversion from `byte` to `decimal` uses the `op_Implicit` method on `System.Decimal`.  The docid for it is not generated correctly:

**Expected:** `M:System.Decimal.op_Implicit(System.Byte)`
**Actual:** `M:System.Decimal.op_Implicit(System.Byte)~System.Decimal`

[2015-04-28 15:06] mjrousos opened #55 "Constructing arrays of primitive types lead to an argument null exception"
MemberMetadataInfoTypeProvider does not provide a 'defined in assembly' for array ctors, such as 'new int[,]'. This leads to an argument null exception when the defined-in-assembly is referenced to determine whether the API is in the Framework or not.

**Actual Behavior**
ApiPort fails with an ArgumentNullException while finding dependencies for this code:

[code]

The exception thrown is:

[code]

[2015-04-28 16:08] #55 closed, assigned to mjrousos

[2015-04-29 21:26] twsouthwick opened #58 "Update to new System.Reflection.Metadata when available"
We need to update to the next version of System.Reflection.Metadata when available.  This will bring in fixes required for #41 and #31.

[2015-04-29 21:27] #41 closed, assigned to mjrousos

[2015-04-30 15:11] mjrousos opened #59 "ApiPort fails to analyze very large IL files"
Very large assemblies (larger than ~25MB) cannot be analyzed because of a metadata reader limitation (dotnet/corefx#1588).

I'm investigating a fix, but it involves non-trivial changes to the metadata reader.

[2015-05-01 14:40] mjrousos opened #61 "Assert "index + numGenericArgs is too large" in MemberMetadataInfo"
![assert](https://cloud.githubusercontent.com/assets/10077254/7431635/487ca0e4-efd5-11e4-9f0f-f035fca907b3.png)

[2015-05-01 21:06] #27 closed, assigned to nobody

[2015-05-04 16:56] twsouthwick opened #65 "Update build scripts for dnx"

[2015-05-04 18:46] #65 closed, assigned to twsouthwick

[2015-05-05 20:13] mjrousos opened #68 "MD Reader type provider does not decode optional modifiers correctly"
IL:

[code]

**Expected dependency**: M:TestClass.Foo(System.Int32 optmod System.Runtime.CompilerServices.IsConst)

**Actual dependency**: M:TestClass.Foo(~System.Int32modopt(System.Runtime.CompilerServices.IsConst))

[2015-05-05 20:34] #61 closed, assigned to mjrousos

[2015-05-05 21:48] mjrousos opened #70 "MD Reader type provider does not decode __arglist usage correctly"
The metadata reader is returning the specific types passed as varargs instead of the general varargs __arglist keyword.

Code:

[code]

**_Expected DocID for method reference**_
M:TestClass.ArglistMethod(System.Int32,__arglist)

**_Actual DocID for method reference**_
M:TestClass.ArglistMethod(System.Int32,System.Int32,System.Int32,System.Int32)

[2015-05-05 22:34] conniey opened #71 "Portability HTML report showing different results when analyzing library"
Running a library through ApiPort by itself or used in a dependency of a project results in different portability results being shown.

Repro:
* Build `Microsoft.Fx.Portability`
* Run ApiPort:
   * `.\src\ApiPort\bin\Debug\ApiPort.exe analyze -f="src\Microsoft.Fx.Portability\bin\Debug\net45" -o="portability.html" -r=HTML`
* Build `Microsoft.Fx.Portability.MetadataReader`
  * ` .\src\ApiPort\bin\De

[2015-05-06 13:30] #59 closed, assigned to nobody

[2015-05-06 13:54] #68 closed, assigned to mjrousos

[2015-05-06 17:39] mjrousos opened #74 "Non-generic types with generic arguments are not decoded correctly by MDReader"
It is (bizarrely) possible to define non-generic types in IL that accept generic arguments. DocIDs for such types are produced incorrectly by our MemberMetadataInfoTypeProvider (the generic arguments are omitted).

**Test Code To Analyze**

[code]

**Expected Dependencies**
    [0]: "M:OuterClass.InnerClass.InnerMethod(OuterClass.InnerClass{`2,`2})"
    [1]: "M:OuterClass.OuterMethod(`0,OuterClass

[2015-05-06 17:46] #70 closed, assigned to mjrousos

[2015-05-06 20:37] #74 closed, assigned to mjrousos

[2015-05-07 18:54] #51 closed, assigned to nobody

[2015-07-06 16:22] twsouthwick opened #84 "Create a Microsoft.Fx.Portability.MetadataReader nuget package"

[2015-07-14 06:23] haf opened #90 "ApiPort crashes on Mono (EntryPointNotFoundException: CreateZStream)"
[code]

[2015-07-14 16:28] twsouthwick commented on #90
Can you give more detail as to your setup? Version of mono and OS would be a good start.

[2015-07-14 16:34] haf commented on #90
Mono 4.0.1. OS X 10.4.4.

[2015-07-14 17:45] AlexGhiondea commented on #43
Do you mean that there is a ```@``` where a ```,``` is expected?

Actual: ```{T@System#Int32}```
Expected: ```{T,System#Int32}```

[2015-07-14 18:30] twsouthwick commented on #43
Yes, although I may have the expected/backward mixed up it seems (something seems off in my description).  When you get the time to take a look at it, can you post a clarification?

[2015-07-14 19:41] twsouthwick commented on #90
I am not seeing the error you show above (running Mono 4.0.2 on Windows).  It is failing but for a different error.  It looks like this exception you pasted is not from the version on GitHub.

I am seeing the following:

[code]

[2015-07-14 19:45] twsouthwick commented on #90
Looks like a possible bug with Mono: https://bugzilla.xamarin.com/show_bug.cgi?id=31584

[2015-07-14 19:49] twsouthwick commented on #58
This has been completed

[2015-07-14 19:49] #58 closed

[2015-07-14 21:10] haf commented on #90
That's correct, it's actually running on exactly https://github.com/logary/logary/commit/88737e1be0a002ed5208b8c64da9bdc852cdb08a

[2015-07-14 21:13] haf commented on #90
As you can see I've added a few F# assemblies to try out a few different transducer/machine/mealy patterns, so that's probably where it's failing.

[2015-07-15 18:24] twsouthwick opened #91 "Additional test coverage for docid"
Looks like there is a spec for docid generation with some good examples: https://msdn.microsoft.com/en-us/library/fsbx0t7x.aspx.  We should use those to add some more test cases to ensure we are generating things correctly.

[2015-07-15 20:25] #43 closed

[2015-07-16 09:11] haf commented on #90
Any news on this? I'm eager to try it out.

[2015-07-17 17:23] twsouthwick opened #94 "Events are not included in dependency report"
As per the spec:

        /// <summary>
        /// Enter description for event.
        /// ID string generated is "E:N.X.d".
        /// </summary>
        public event D d;

Currently, no events are found in the dependency finder

[2015-07-17 17:26] twsouthwick opened #95 "Constant fields are not found by dependency finder"
As per the spec:

        /// <summary>
        /// Enter description for constant PI.
        /// ID string generated is "F:N.X.PI".
        /// </summary>
        public const double PI = 3.14;

Normal fields are found just fine, but constant fields are not

[2015-07-17 17:31] twsouthwick opened #96 "Multidimensionial array not formed correctly in argument list"
Per the spec:

        /// <summary>
        /// Enter description for method gg.
        /// ID string generated is "M:N.X.gg(System.Int16[],System.Int32[0:,0:])".
        /// </summary>
        /// <param name="array1">Describe parameter.</param>
        /// <param name="array">Describe parameter.</param>
        /// <returns>Describe return value.</returns>
        public int gg(short[] array1,

[2015-07-17 18:51] #91 closed

[2015-07-17 19:49] twsouthwick commented on #90
I don't think it has to do with the F# assemblies - F# is still just IL and that's what this tool runs on.  I tried downloading the source you pointed at to try to repro but couldn't compile.

I've created another bug for Mono here that describes the root cause we're seeing: https://bugzilla.xamarin.com/show_bug.cgi?id=32086.  If you're seeing the same exception I posted, we need to wait for a Mon

[2015-07-28 17:46] twsouthwick opened #101 "Query sent to service fails if parentheses are in"
The search API is broken when searching for methods.  The parentheses seem to be an issue.

[2015-08-03 10:41] venknar opened #102 "ApiPort fails with the message - There was an unknown error while reaching the service"
Trying to run the Apiport.exe -listTargets. It runs and then fails with the message;

Microsoft (R) API Portability Analyzer v1.0.251.0
Copyright (C) Microsoft Corporation. All rights reserved.

To learn more about how this tool works, including the data we are collecting, go here - http://go.microsoft.com/fwlink/?LinkId=397652

Retrieving targets                                [Failed]

There was

[2015-08-05 15:06] twsouthwick opened #103 "Track how many times a flagged API is used"

[2015-08-05 16:48] conniey commented on #102
I could not reproduce the error you are seeing. Can you try again? (I used the internal version you used and tried it out with the 1.0.0-alpha version as well.)

[2015-08-05 16:55] venknar commented on #102
Issue is resolved. Some proxy settings issues in my machine.
Thanks

[2015-08-05 16:55] #102 closed

[2015-08-10 17:53] #18 closed

[2015-08-10 17:53] #84 closed

[2015-08-10 22:27] twsouthwick opened #107 "Add documentation for all public APIs"
I enabled xml documentation generation, and there are a number of APIs that do not have documentation.  We should add that, and then remove the warning suppression in the projects.

[2015-08-11 18:14] twsouthwick commented on #95
These are not available in compiled assemblies - the constants are replaced with the actual value

[2015-08-11 18:15] twsouthwick commented on #94
Events are captured as the methods: "M:N.X._add_d(D)" or "M:N.X.remove_d(D)"

[2015-08-11 19:07] #94 closed

[2015-08-11 19:07] #95 closed

[2015-08-11 19:07] #96 closed

[2015-08-14 01:34] dsplaisted opened #113 "Usage of TypeInfo members is incorrectly reported as not supported when analyzing .NET Framework assemblies"
A bunch of APIs on Type are not supported in .NET Core.  Running ApiPort on an assembly that uses these types will recommend adding a call to `GetTypeInfo()`.  Doing so will indeed make the code portable to .NET Core.  However, running the portability analyzer on an assembly that does call `GetTypeInfo()` for these APIs will still report them as unsupported.

This is because for the .NET Framework

[2015-08-20 17:49] twsouthwick opened #117 "Switch ApiPort to use DNX"
Currently ApiPort targets .NET Framework 4.6, but we could switch it to use DNX on .NET Core so it doesn't have the 4.6 requirement.

[2015-08-24 18:14] twsouthwick opened #118 "Add a flag to hide retargeting information"

[2015-08-24 18:15] twsouthwick opened #119 "Add an input to tell the analyzer what runtime is being used"
When calculating braking changes, it would be helpful to let the analyzer know what the desired target framework would be. Right now, all known breaking changes would be returned, when this could be trimmed if we know what the desired target is.

[2015-08-31 18:18] twsouthwick opened #129 "Add documentation for commandline usage of tool for breaking changes"
The result format and the target option are somewhat confusing and should have better explanations

[2015-08-31 22:07] mjrousos opened #130 "Details/suggestions needed for some breaking changes"
Some breaking change files are missing details/suggestions:

* Microsoft/dotnet-apiport/docs/BreakingChanges/012 ComposablePartCatalog and its derived classes.md
* Microsoft/dotnet-apiport/docs/BreakingChanges/015 Delegates pointing to extension methods lead to InvalidProgramException.md
* Microsoft/dotnet-apiport/docs/BreakingChanges/016 Calling base method from an anonymous method causes excepti

[2015-09-16 18:32] twsouthwick opened #144 "Correct the Mono version shown in listTargets"
The version we are displaying is the equivalent .NET version, not the Mono. This needs to be fixed.

[2015-09-16 18:44] akoeplinger commented on #144
From https://github.com/Microsoft/dotnet-apiport/pull/143#discussion_r39667774

If you just have the BCL assemblies I think it's impossible to get the Mono version they shipped with. Having looked at it, only mcs.exe sets its AssemblyVersion to the Mono version so you might be able to use that.

[2015-09-16 19:14] twsouthwick commented on #144
I took a look at the mcs.exe and the FileVersion and AssemblyVersion are 3.3.0.0. Does that sound right?

[2015-09-16 19:35] akoeplinger commented on #144
Yes, though these are 1.5yrs old files then, you might consider updating to newer a Mono version :)

I'm a bit surprised that the 2.0 mcs.exe has 2.10.9 as that'd be even older, are you sure they're from the same drop?

[2015-09-16 19:50] twsouthwick commented on #144
When I examine the 3 drops, I get the following:

| Our label | mcs.exe version |
|----|-----|
| 2.0 | 2.10.9|
| 4.0 | [no mcs.exe] |
| 4.5 | 3.3.0.0 |

If it's that old, we should definitely update it. Is there a way we can just get a drop of it, or do we need to install it?

[2015-09-16 20:01] akoeplinger commented on #144
The easiest way is probably to download the MSI from http://www.mono-project.com/download/#download-win and extract it using the usual tools you find on the internet.

[2015-09-18 19:17] #129 closed

[2015-09-24 19:42] danroth27 opened #153 "In addition to percentages provide number of errors per assembly"
If you have a small assembly the percentage can be misleading. It would be great to also show the number of errors per assembly in the generated report.

[2015-09-24 19:53] twsouthwick commented on #153
Can you give more detail? An example of what is currently displayed and what would be more helpful would be great.

[2015-09-25 00:47] danroth27 commented on #153
The generated spreadsheet shows the list of assemblies analyzed and a percentage for how compatible the assembly is. But some assemblies are bigger than others. It would be useful to also show the number of errors in addition to the percentage.

[2015-10-01 18:37] terrajobst opened #155 "Use recommended changes from containing APIs"
When looking for recommended changes at the member level, API port should fall back to the recommended changes at the chain of containing types, up to, and including the namespaces.

This makes it a lot easier for us to have a complete list of recommendations without having to add them to each and every member.

So when looking for recommendations of  `System.Runtime.Awesome.Type.Subtype.Member`,

[2015-10-01 19:34] richlander commented on #155
Nice idea.

[2015-10-19 18:13] twsouthwick commented on #144
The Mono version is now updated to reflect 3.3.0.0. I'll open another issue to track getting an updated version.

[2015-10-19 18:13] #144 closed

[2015-10-19 18:14] twsouthwick opened #156 "Add new Mono version to available targets"
The Mono version we have available on ApiPort (3.3.0.0) is out of date. See #144 of some more discussion of this. An updated version is available here: http://www.mono-project.com/download/#download-win

[2015-10-19 18:56] mjrousos commented on #117
Snagging this as I have some DNX experience and would be interested in investigating this.

[2015-10-27 21:49] #118 closed

[2015-10-27 21:50] #130 closed

[2015-11-02 22:07] twsouthwick opened #172 "Analysis fails on custom mscorlib.dll"

[2015-11-02 22:08] mjrousos commented on #172
Interesting. How does it fail? Do you have a callstack?

[2015-11-02 22:27] twsouthwick opened #173 "Update Command Line interface input"
See https://en.wikipedia.org/wiki/Glob_%28programming%29 for details

[2015-11-02 22:28] twsouthwick opened #174 "Add option to attempt to resolve from current directory"
Right now, ApiPort does no effort to resolve assemblies that are not given by the input. We could probably add support to at least attempt to resolve from the current directory.

[2015-11-02 22:57] twsouthwick opened #175 "Assembly is skipped in report depending on order of input"
Scenario: c.dll has a reference on b.dll

[code]

b.dll would not show up in report. It would show up with the following order:

[code]

Notice the duplication of b.dll (or that b.dll is listed after c.dll)

[2015-11-05 06:16] KeldOelykke opened #180 "VS Extension 1.1.10808.0: Information on Type usage"
When I analyze my C# Portable Client Library in VC 2015, I get error icon on targets .NET Framework 4.6.1, Mono 3.3.0.0, Xamarin.Android 4.12.1 and Xamarin.iOS 7.2.2:

System.Type

get_Name

I think some recommended changes needs to be added here.
I couldn't really find anything about this issue at first, but from https://github.com/Microsoft/dotnet-apiport/issues/113 and https://dotnetcademy.net/

[2015-11-05 06:18] KeldOelykke commented on #180
![image](https://cloud.githubusercontent.com/assets/6137135/10961278/5bba0240-838d-11e5-9c8c-d424ba509237.png)

[2015-11-05 19:55] dsplaisted opened #181 "Add API search support to dotnetstatus site"
Right now there is a "search" box with autocomplete.  If you type (or use autocomplete to get) the full name of the API, then you can navigate to the page for that API.  But there's no search results page and no way to search using a partial name.

We should:

- Add a search results page
- Support searching for partial names
- Show types in the search results in addition to members

[2015-11-05 19:57] dsplaisted opened #182 "Show the contract that an API belongs to"
The page that shows details for an API should show which contract it is included in.  This will tell people which NuGet package they need to reference in .NET Core projects in order to use the API.

[2015-11-05 20:06] dsplaisted opened #183 "API details page should make it easy to add / edit recommended changes"
If I look up an API that's not available on .NET Core and it doesn't have any recommended changes, I should be able to easily add information about what to replace it with.  Ideally the recommended changes would be stored in a GitHub repo, and the API details page could include a link that would start a pull request to add recommended changes for the API.

[2015-11-05 20:16] AlexGhiondea commented on #103
This would be nice, but it requires parsing the method body IL which will definitively have a perf impact.

Consider using the method body parsing from this library: https://github.com/dotnet/corefxlab/tree/master/src/System.Reflection.Metadata.Cil

[2015-11-05 20:35] dsplaisted opened #184 "Create Roslyn analyzers to help apply direct API replacements when porting to .NET Core"
Create Roslyn analyzers to help with repetitive API changes when porting to .NET Core, such as:
- Close -> Dispose
- Thread.CurrentCulture -> CultureInfo.CurrentCulture
- Add a call to GetTypeInfo() when necessary

[2015-11-06 23:00] twsouthwick opened #185 "Add a heuristic to only include framework APIs"
The tool currently gathers all APIs. We could come up with a simple heuristic that takes into account the following:

- Known strong name keys since all framework assemblies are signed
- Assembly starts with System, Microsoft, mscorlib, (maybe Mono?)
- Namespace starts with System, Microsoft, (maybe Mono?)

[2015-11-09 17:28] twsouthwick opened #186 "Make a nuget of ApiPort available"
This would help with using it in automated builds.

[2015-11-16 20:29] twsouthwick opened #193 "Add a command line switch to specify a targetmap file"

[2015-11-16 22:05] #193 closed

[2015-11-19 21:59] #185 closed

[2015-11-23 21:18] twsouthwick opened #202 "Use MD5 hash of docids for submission id"
Right now, each submission receives its own GUID for an id. If we were to use an MD5 hash of the submitted docids, it could act as a sort of filter for duplicate submissions.

[2015-11-24 16:22] twsouthwick opened #205 "Don't show items that just have source compatibility"
If an item is source compatible, that should be considered a no-op from a porting perspective. Thus, we shouldn't expose that in reports.

[2015-11-24 16:25] conniey opened #206 "Add license terms into ApiPort drop folder post-build"
To ensure that the third party notices, privacy statement and license terms are always there for each release.

[2015-12-01 18:47] mjrousos opened #211 "Use Autofac for dependency injection in ApiPort instead of Unity"
This will allow easy run-time configuration in .NET Core scenarios (which don't support System.Configuration).

[2015-12-01 20:43] twsouthwick opened #212 "Use a SHA1 hash of APIs collected client side"
This main purpose for this is that it will minimize the size of the collected data. We can hash the collected APIs client side and then have a way to map it back to the full docid in the service. Some of the fully qualified docids are hundreds of characters long, while a SHA1 hash is always 20 bytes (or 40 hex digits)

[2015-12-01 22:18] #117 closed

[2015-12-02 22:05] conniey commented on #183
This issue was moved to Microsoft/dotnet-apiweb#18

[2015-12-02 22:05] #183 closed

[2015-12-02 22:05] conniey commented on #181
This issue was moved to Microsoft/dotnet-apiweb#19

[2015-12-02 22:05] #181 closed

[2015-12-02 22:05] conniey commented on #182
This issue was moved to Microsoft/dotnet-apiweb#20

[2015-12-02 22:05] #182 closed

[2015-12-04 16:54] twsouthwick opened #218 "Update HTML reporter to work on core"
There are two changes needed here:
- Right now, we are using an earlier version of RazorEngine that does not work on core.
- ~~The markdown parser we are using is actually targeting .NET 3.5 (seems to work, fine, though). The new project.json format won't load it, though, on 4.5 or dotnet~~

[2015-12-04 16:55] twsouthwick commented on #172
Never heard back from whomever had the original issue.

[2015-12-04 16:55] #172 closed

[2016-01-13 00:43] jeffschwMSFT opened #230 "Offline mode fails if the output type is not specified"
Repo:
ApiPort.offline.exe -f YourAssembly.dll -o YourAssembly.json

Sending data to service                           [Failed]
ApiPort.exe Error: 0 : System.AggregateException: One or more errors occurred. -
--> System.IO.FileNotFoundException: Could not load file or assembly 'RazorEngin
e, Version=3.6.1.0, Culture=neutral, PublicKeyToken=9ee697374c7e744a' or one of
its dependencies. The system ca

[2016-01-13 00:53] mjrousos commented on #230
If you don't specify an output type, I think ApiPort.offline defaults to html (by design). It seems that what's happening here is that the HTML report writer is running into some sort of issue with razor generation.

[2016-01-15 14:45] twsouthwick commented on #206
@conniey this was completed, right?

[2016-01-15 14:53] twsouthwick commented on #230
The build server drops don't have RazorEngine copied to the offline drop. If I run build.cmd locally it gets copied okay. @conniey knows more about the builds for this

[2016-01-15 14:55] twsouthwick commented on #90
@haf The issue I'm seeing seems Windows specific. Can you download a [newer version] (https://github.com/Microsoft/dotnet-apiport/releases) and try it again?

[2016-01-15 18:46] dsplaisted opened #233 "Consider including the number of usages of each API in the portability score"
The portability score reported by APIPort is based on the number of distinct APIs used by the assembly being analyzed.  This means that an unsupported API that is used 1000 times has the same effect on the score as one that's only used once.  It also means that if you remove 999 usages of an unsupported API, but there's one left over, the portability score won't change at all.

It would probably b

[2016-01-15 18:50] dsplaisted opened #234 "Consider analyzing PInvokes (DllImports)"
APIPort is commonly used to help port code to .NET Core.  Often this is done in order to run the code on different operating systems.  DllImports/PInvokes represent calls to native code that may or may not be available on other OS's.  It would be useful if APIPort would list all the DllImports in an assembly it analyzes, to help determine whether they will need to be replaced when porting.

[2016-01-15 20:36] conniey commented on #206
Yes it was. This was finished. I'll close it. :)

[2016-01-15 20:36] #206 closed

[2016-01-20 20:58] twsouthwick opened #236 "modopt doc id generation is broken"
One test is failing because it expects:
`M:TestClass.Bar(System.SByte optmod System.Runtime.CompilerServices.IsConst reqmod System.Runtime.CompilerServices.IsSignUnspecifiedByte*)`
but the only close to it in the actual results is:
`M:TestClass.Bar(System.SByte reqmod System.Runtime.CompilerServices.IsSignUnspecifiedByte optmod System.Runtime.CompilerServices.IsConst*)`

Original IL: [modopt.il](h

[2016-01-20 21:03] twsouthwick commented on #236
@nguerrera does this look like a S.R.Metadata issue to you or something in our code?

[2016-01-20 21:38] nguerrera commented on #236
This does not look like a S.R.Metadata issue. The IL syntax (like what is shown in the reflector case is uses the reverse of the metadata order. i.e. `A modreq(B) modopt(C)` is `CMOD_OPT C CMOD_REQD B A` in the metadata signature. Think of the decoder as building this type as tree:

[code]

How you serialize that tree to a string is up to you and whether you're bound by the semantics of a particul

[2016-01-21 17:55] twsouthwick commented on #236
Thanks @nguerrera for the explanation. @conniey I've fixed this in #239

[2016-01-21 18:28] #236 closed

[2016-01-25 20:48] aredfox opened #240 "Expose as command to dotnet CLI"
Expose it as a command/tool to the dotnet cli, so it's easier to work with, and reference to for users.. E.g.: dotnet analyze <..>, or dotnet apiport analyze <...>

[2016-02-01 22:55] twsouthwick opened #245 "Target selection on VS plugin is not very discoverable"

[2016-02-03 18:41] twsouthwick opened #247 "Include a timestamp of when the catalog was built on the reports"
Right now, a report contains information about available APIs, but no notion of how old the data for that is. Since the available on .NET Core is continually changing, it would be helpful if the reports identified how old the catalog data was.

[2016-02-03 19:53] conniey commented on #245
Any suggestions on how we can make this more discoverable?

[2016-02-03 20:12] conniey commented on #230
This issue was because our build server had an outdated version of `ResolveNuGetPackageAssets` task. I've updated the server. It's fixed now. :)

[2016-02-03 20:12] #230 closed

[2016-02-04 16:00] JJVertical opened #250 "Need to add ApiService tests using Mocked HttpMessageHandler"
We need to add ApiService tests that use a Mocked HttpMessageHandler so they don't rely on the live PortabilityService. Here is some code around the implementation needed inside the CompressedHttpClient.

[code]

[2016-02-04 20:13] conniey commented on #71
This is no longer the case in current release of the Visual Studio extension.

[2016-02-04 20:13] #71 closed

[2016-02-04 20:20] conniey opened #251 "Console and VSIX show different percentages in report"
## Repro Steps
1. Generating a binary using the visual studio extension
2. Analyze that same binary using the console tool
## Expected
The reports are identical
## Actual
The percentages are different despite the results being exactly the same

![differentpercentages](https://cloud.githubusercontent.com/assets/10136526/12828399/6e09d486-cb39-11e5-99ab-44a316a7e4b2.png)

[2016-02-04 20:24] conniey opened #252 "Display input path for analysed binaries in the report"
This would allow users to know precisely which binaries were analysed in the report

[2016-02-04 20:34] conniey opened #253 "VSIX: Output report to the project's output directory rather than its sources directory"
## Repro Steps
1. Open a solution
2. Right-click on a project, Analyze -> Analyze Assembly Portability

The report is generated using the artefacts of the project being analysed, so it makes more sense to see report saved to the output directory of the project rather than in the sources directory.

[2016-02-04 20:36] #155 closed

[2016-02-04 20:39] conniey commented on #233
Duplicate of #103

[2016-02-04 20:40] #233 closed

[2016-02-04 22:26] terrajobst commented on #155
Excellent. Thanks!

[2016-02-05 21:15] twsouthwick commented on #245
Maybe a context menu? Right now, the only way to get to the target selection is via Tools->Options->.NET Portability Analyzer. It would be great to add a menu item next to the "Analyze assembly portability" that takes you to the options pane.

[2016-02-09 19:56] DrewScoggins opened #257 "APIPort does not detect usage of the Serializable Attribute"
When running the analyzer tool on code that uses the Serializable attribute you will get a 100% pass rate for .NET Core even though it is not supported there.  It looks like we do not check for flags that are set on types, just custom attributes.

[2016-02-10 13:38] Athari commented on #245
@conniey Having global options for all projects doesn't look like a good idea to me. I'd rather have options saved in a project file or a separate config file, and in that case, a project options tab would be appropriate and discoverable, I think.

Either way, target selection can be made available in the context menu "Project > Analyze > Choose Portability Analyzer Target Platforms", just like "A

[2016-02-10 14:01] Athari opened #261 "Add option to collapse identical columns in HTML report"
Some target platforms are very similar and analysis can produce identical results for them. Viewing HTML report will be easier if such platforms are collapsed together. Also, when porting, it's helpful to see what platform-dependent code should be moved/replaced/whatever. Overall, the report will be considerably less scary if it contains less redundant information.

[2016-02-10 18:42] #180 closed

[2016-02-10 21:30] #247 closed

[2016-02-22 03:17] weshaggard commented on #113
I suspect the best way to actually fix this is to add the overrides in the full framework itself so that these show up as calls to TypeInfo. Baring that I don't see any clean way to do this directly in ApiPort itself that isn't a big hack.

[2016-02-23 02:18] alsemenn opened #266 "Update "Use RuntimeInformation.OSArchitecture.md""
Instead of "System.Runtime.InteropServices.OSArchitecture" should be "System.Runtime.InteropServices.RuntimeInformation.OSArchitecture"

[2016-02-23 19:38] StefH opened #267 "Difference between ".NET Core,Version=v5.0", ".NET Native,Version=v1.0" and "ASP.NET 5,Version=v1.0" ?"
When doing an analyze for my project, I get these **four** frameworks listed in the output.

1. **.NET Core,Version=v5.0 **--> this is "**dnxcore50**" as framework in project.json
2. **.NET Framework,Version=v4.6.1** --> this is "**net46**" as framework in project.json
3. **.NET Native,Version=v1.0** --> this is "**???**" as framework in project.json
4. **ASP.NET 5,Version=v1.0** --> this is "**??

[2016-02-23 19:52] StefH opened #268 "A lot of reflection functionality like Type.BaseType is not available anymore in dnxcore50"
As known, a lot of reflection functionality like `Type.BaseType` is not available anymore in dnxcore50. A possible solution would be to use:`Type.GetTypeInfo().BaseType`.

I encountered this issue a lot while converting some of my projects.

I solved this compatibility issue by create a helper library (https://github.com/StefH/ReflectionBridge) : which functions as a bridge to some reflection func

[2016-02-23 23:14] conniey commented on #267
Hi,

To answer your question (using the chart from [here](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#mapping-the-net-platform-standard-to-platforms)):
1. **.NET Core,Version=v5.0** --> this is "netstandard1.4" as framework in project.json
.NET Core itself is not a targetable platform. If you are trying to write a library that will be supported

[2016-02-29 19:53] StefH opened #271 "Suggestion for StringComparison.InvariantCultureIgnoreCase is wrong ?"
Suggestion is like:.

_System.StringComparer      get_InvariantCultureIgnoreCase_
Use ```CompareInfo.GetStringComparer```

However this has an error?
```D:\Projects\dotnet\Program.cs(13,46): error CS0117: 'CompareInfo' does not contain a definition for 'GetStringComparer'```

[2016-03-02 21:19] mtaron opened #273 "API Port flags compiler generated code in portable class libraries"
Hi, I'm trying out API Port on one of my project and noticed that it was flagging some compiler generated code. A simple repro:
1. Create a new Portable Class Library (I did C#, .NET Framework 4.6, Windows Universal 10.0).
2. Add a new Resource File (.resx).
3. Build.
4. Run API Port.

It flags the compiler generated ResourceManager property as a portability issue. Is this is a problem?

[2016-03-02 22:04] #267 closed

[2016-03-02 22:05] #266 closed

[2016-03-02 22:14] conniey commented on #273
This is a known issue #113.

As a tangential aside, the C# backing to *.resx is generated by an external tool (ie. [resgen.exe](https://msdn.microsoft.com/en-us/library/ccec7sz1(v=vs.110).aspx)) and not the C# compiler.

[2016-03-10 18:55] twsouthwick commented on #273
@conniey this doesn't seem the same as #113 - there, TypeInfo is showing up due to it being derived and thus showing up as being on Type. This is an issue involving generated methods/types. These are usually annotated with some sort of attribute - maybe we could add a way to filter those out?

[2016-03-10 18:57] twsouthwick commented on #268
@StefH Did run ApiPort and get a RecommendedChange?

@weshaggard Is anything like this planned for .NET Core?

[2016-03-10 19:00] twsouthwick commented on #257
`[Serializable]` is translated into a flag on the type instead of an attribute in the metadata. Looks like there's some helpful stuff on this Roslyn issue: https://github.com/dotnet/roslyn/issues/3898. We should be able to pull out a flag of "IsSerializable" and flag issues for that

[2016-03-10 19:05] weshaggard commented on #268
There are currently no plans to provide a bridge between <=NET40 and .NET Core. For the reflection APIs we are adding a lot of the missing ones back but there you still need to go through GetTypeInfo() like above and GetTypeInfo() only exists in NET45 and higher. So if your code is only targeting NET45 and NETCore then there shouldn't need to be any #ifdefs for this type of change.

[2016-03-10 19:09] twsouthwick commented on #271
Do you have a using for System.Globalization? If that works, we need to update the recommendation to say `Use System.Globalization.CompareInfo.GetStringComparer`

[2016-03-10 19:16] twsouthwick commented on #273
An example: https://github.com/Microsoft/dotnet-apiport/blob/master/src/Microsoft.Fx.Portability/Resources/LocalizedStrings.Designer.cs

The type has `[global::System.Runtime.CompilerServices.CompilerGeneratedAttribute()]` which we *may* be able to filter out - not sure how much work that would be in the metadata reader.

[2016-03-10 20:18] conniey commented on #273
Ahh, I see what you're saying now.. Hmm that may be a little work due to how we calculate the docIds in MetadataReader.

[2016-03-14 21:02] twsouthwick commented on #251
The VSIX is currently using CCI while the command line tool is using S.R.Metadata so there may be a difference in what types/methods are being extracted.

[2016-03-19 19:11] jhofker commented on #271
`GetStringComparer` doesn't seem to exist in `System.Globalization.CompareInfo`, unless I'm doing something wrong. (Pretty likely)

In most cases I've been replacing `StringComparer.InvariantCultureIgnoreCase.Equal(...)` with `string.Equals(a, b, StringComparison.InvariantCultureIgnoreCase)` and that's fine, but I have a couple uses inside linq like `(...).Distinct(StringComparer.InvariantCultureI

[2016-03-21 16:34] twsouthwick commented on #271
Ah - looks like it is in the `System.Globalization.Extensions` package. Let me know if that works - if it does, we'll update the recommendation.

[2016-03-21 16:35] twsouthwick commented on #271
The site http://packagesearch.azurewebsites.net/ provides a nice way to find where methods/types are. Search for `GetStringComparer` and it will tell you which package to install.

[2016-03-21 18:15] StefH commented on #271
The `GetStringComparer` is not static method on the `CompareInfo` class, but an **extension** method on the `CompareInfo` class?

See source code here:
https://github.com/dotnet/corefx/blob/master/src/System.Globalization.Extensions/src/System/Globalization/Extensions.cs

[2016-03-21 19:04] conniey commented on #271
I think this is what it means:
[code]

[2016-03-22 13:52] raffaeler opened #276 "offline mode not working"
Hi,
I am trying to generate a report using the offline mode.
The steps were the following:
- cloned the repo locally
- built with VS2015 ... success
- *clean* in order to delete the binaries
- build using the command line (build.cmd)
- run the ApiPort using the command line from the following folder:
   dotnet-apiport\bin\Release\ApiPort.Offline

**This is the command line I used:**
`ApiPort analy

[2016-03-24 07:52] raffaeler commented on #276
Still broken.
This is the log after clean, rebuild and run.

Microsoft (R) API Portability Analyzer v1.2.1.alpha.00000
Copyright (C) Microsoft Corporation. All rights reserved.

This tool analyzes .NET assemblies to determine possible problems moving between .NET platforms (such as
Windows Store, desktop, Mono, .NET Core, etc) as well as between .NET Framework versions (ie 4.x->4.y).

To learn mor

[2016-03-25 01:50] jhofker commented on #271
Thanks everyone!

[2016-03-25 10:37] raffaeler opened #279 "Documentation about vsix"
There is no link on the documentation to the vsix.
As far as I can understand the vsix is called " portability tool" and not apiport

[2016-03-25 12:59] harshdeep21 opened #280 "Targets in JSON are not getting deserialized"
Hi There,

I have some 10+ applications which we are trying to migrate. I ran ApiPort exe on all of them and got their JSON file output created. Now, instead of observing JSON file's "BreakingChanges" attributes manually, I created a small program to read all JSON files and apply LNIQ query.

But unfortunately, Newtonsoft JSON library is not able to deserialize "Targets".

`JsonConvert.Deserialize

[2016-03-25 16:04] twsouthwick commented on #280
The issue is probably because Newtonsoft JSON doesn't automatically deserialize Versions. We have a custom converters at https://github.com/Microsoft/dotnet-apiport/tree/master/src/Microsoft.Fx.Portability/Utils/JsonConverters. There are a couple of options:

1) Use the high level helper methods in `DataExtensions`
2) Pass the settings from `DataExtensions.JsonSettings` into the Json serializer.
3

[2016-03-25 16:15] twsouthwick commented on #271
I've added a PR to fix the recommendation. @jhofker would the message I replaced it with have unblocked you?

[2016-03-25 22:24] conniey commented on #276
@raffaeler  : I am unable to reproduce this issue. What command did you run to get that error?

[2016-03-25 23:01] twsouthwick commented on #276
I've seen reports of this before, but have never gotten a good repro. @raffaeler the command @conniey asked for, as well as the environment you're using would be very helpful.

[2016-03-26 00:05] jhofker commented on #271
Looks great, thank you!

[2016-03-26 04:31] harshdeep21 commented on #280
Thanks for the answer. That could help, but those classes are set with "internal" scope. Would it not make sense to make them public?

[2016-03-26 12:26] raffaeler commented on #276
I run the tool inside a corporate network with an authenticated proxy.
Before the @conniey changes the tool run in "online" mode and I could see an authentication error in the command line.
After @conniey fix, the error became the exception I posted.

The command line is very basic.
ApiPort analyze -f c:\temp\test.dll -t ".NET CORE, Version=5.0" -o test.html -r html
or
ApiPort analyze -f c:\temp\t

[2016-03-28 17:34] conniey commented on #276
I looked into it and the error occurs because we are unable to download `catalog.bin`, which is packaged into Microsoft.Fx.Portability.Offline.  So at runtime, it can't load the catalog (even though it says it was successful).

A couple of temporary workarounds are:

1. Execute: `mkdir .data` in the root of your repository
2. Manually download [catalog.bin]("https://portabilitystorage.blob.core.wi

[2016-03-29 06:28] #280 closed

[2016-04-04 16:01] #271 closed

[2016-04-13 23:32] danielturcanu opened #285 "ApiPort reports TypeInfo.IsClass is not supported in .NET 4.5"
Wrote some small test code
            TypeInfo info = IntrospectionExtensions.GetTypeInfo(GetType());
            IsClass = info.IsClass;

For this ApiPort reports that TypeInfo.IsClass is not supported in .NET 4.5, but supported in .NET Core.
I can run this code just fine in .NET 4.5 though.

[2016-04-14 23:33] twsouthwick commented on #285
Thanks @danielturcanu. We know there are some issues around Type/TypeInfo (see #113) and the way we can analyze them via IL. This may be related, but I'll take a look.

[2016-04-14 23:34] twsouthwick opened #287 "Provide descriptions for targets"
We should add a way to describe what each target is for that can then be surfaced to users.

[2016-04-15 23:23] #287 closed

[2016-04-19 17:56] #211 closed

[2016-04-19 18:00] twsouthwick commented on #268
@StefH I'm closing this issue for now - if you didn't get a recommended change from ApiPort and you think you should, please reopen.

[2016-04-19 18:00] #268 closed

[2016-04-26 16:16] twsouthwick commented on #90
I'm closing this as I haven't repro'd the issue. @haf feel free to reopen this if you see the issue again with newer builds.

[2016-04-26 16:16] #90 closed

[2016-04-26 16:19] twsouthwick opened #294 "Transition apiport to dotnet CLI"
This is to track progress on getting ApiPort working on CLI

- [x] Switch to CLI flavored project.json
- [ ] Run tests on .NET Core and .NET Framework
- [ ] Update publishing step to produce useable builds
- [ ] Determine how to Authenticode sign builds via DotNet CLI

[2016-04-26 16:21] twsouthwick commented on #294
For those interested, this work is being done in https://github.com/twsouthwick/dotnet-apiport/tree/dotnet

[2016-04-26 16:47] twsouthwick opened #295 "Builds fail when NuGet cache is cleared"
Looks like a change (#275) to enable builds to run xUnit in VSTS fails when the NuGet cache is cleared.

[2016-04-26 17:28] haf commented on #90
Did you test it on mono?

[2016-04-26 17:32] twsouthwick commented on #90
I tested in Mono on a Windows machine. The tool you originally ran it with is over 2 years old - are you still seeing this on a more recent build?

[2016-04-26 17:46] haf commented on #90
I don't know. I haven't tried, but I thought one would at least run the tool to try to repro my issue. One year later...

[2016-04-26 18:08] #295 closed

[2016-04-26 19:00] twsouthwick commented on #90
If you get the chance to try a recent build, let me know how it goes. I cannot reproduce your specific issue as I don't have a machine with OS X. If we find an issue that is due to this tool, we're happy to fix it, but we don't have control over issues in Mono (although if we know the cause, we might be able to find a workaround).

Related, I have started work to get it working on DotNet CLI which

[2016-04-28 17:49] twsouthwick opened #297 "Adding user assemblies can create a race condition"
`ReflectionMetadataDependencyInfo` adds assemblies to a `HashSet<>` in parallel without locking. This creates a race condition where for large sets of assemblies adding another item can cause the add method to explode.

[2016-04-28 19:17] ghost opened #299 "CharSet.Auto is missing from NetCore"
https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.charset.aspx

In netcore, `Auto` is not present in `CharSet` enum, we only have `Ansi`, `Unicode` and `None`.

[2016-04-29 17:10] conniey commented on #299
@weshaggard, @terrajobst: Would you be able to shed light why CharSet.Auto is not part of .NET Core?

@jasonwilliams200OK : A good place to ask these questions is in the [corefx repository](https://github.com/dotnet/corefx/issues).

[2016-04-29 18:46] weshaggard commented on #299
@yizhang82 might be able to talk to that.

[2016-05-02 06:23] yizhang82 commented on #299
@jasonwilliams200OK CharSet.Auto is UTF-16 across the board these days (no Win9x anymore), so there is no point including CharSet.Auto in .NET Core.

[2016-05-02 14:53] twsouthwick commented on #299
@yizhang82 does that mean the recommendation is to switch all `CharSet.Auto` to `CharSet.Unicode` now?

[2016-05-04 18:19] #297 closed

[2016-05-16 18:19] jrlinde opened #300 "unknown error in VS 2015 Pro"
Receiving an error when attempting to use the Portability Analyzer within VS 2015 Professional.  The command line utility works just fine; however, I would like to take advantage of the added capability of assembly replacement suggestions within the VS plugin.  Has anyone else run into this issue?  Any advice?
![image](https://cloud.githubusercontent.com/assets/7998793/15299153/f1ea7abc-1b57-11e6-

[2016-05-16 18:40] conniey commented on #300
I was unable to reproduce this issue.  What are the target platforms you are running your analysis against? (You can check by going to Tools > Options > .NET Portability Analyzer)

Sometimes the portabilityservice has intermittent failures so it may work when you try again.

[2016-05-16 19:01] jrlinde commented on #300
My target environment is .NETCore 5.0.  I have tried to run the Portability Analyzer multiple times with different project types and continue to receive the same error.

[2016-05-17 18:36] conniey commented on #300
I am still unable to reproduce this issue:
* Would you be able to provide me with a repro?
* Does this happen on all projects you try to analyze in Visual Studio? or just certain ones?

Thanks!

[2016-06-13 19:32] PirateJubber opened #301 "No options for Target Platform"
When I open up Tools>Options>.Net Portability Analyzer, I am faced with an empty gray box. It doesn't give me any options.

I have tried uninstalling and reinstalling.
I am on VS 2015 Pro Update 2.
Could it be related to my internet browsing being very restrictive?

[2016-06-13 19:41] conniey commented on #301
Do your internet requests go through a proxy?  The platforms are populated through a call to our Portability service in Azure. You can check if the call is successful by:

1. Run Fiddler
2. Open VS 2015
3. Browse to the ".NET Portability Analyzer" tab
4. Check request is returning success
![image](https://cloud.githubusercontent.com/assets/10136526/16020702/0ff44962-3164-11e6-887a-bd8b95b006cd.png

[2016-06-13 19:53] PirateJubber commented on #301
Yes it looks like it is successful

[2016-06-14 00:32] conniey commented on #301
Can you try downloading the console application from [releases](https://github.com/Microsoft/dotnet-apiport/releases/tag/v1.2.1.alpha.00031) and executing: `ApiPort.exe listTargets`? Does it successfully display all the available targets?

[2016-06-20 22:16] shaggygi opened #302 "[Question] Plans to update new VSIX"
The VSIX on the VS Gallery was posted in 12/15.  Are there plans to add a newer version after Core v1 is RTMed?

[2016-06-20 22:40] conniey commented on #302
I am currently working on updating and open-sourcing the VSIX.

[2016-06-20 23:12] shaggygi commented on #302
@conniey thanks for reply and work :smile:

[2016-06-21 17:47] PirateJubber commented on #301
![capture](https://cloud.githubusercontent.com/assets/19915933/16240275/e68f097a-37a5-11e6-914a-0c3306623c42.PNG)

[2016-06-21 17:48] PirateJubber commented on #301
I am on a corporate network, which looks like it uses a PAC file and we use Invincea. Is there any way to configure Visual Studio to allow this extension to contact your web service to get the targets?

[2016-06-21 21:47] conniey commented on #301
I did some searching and some users have been able to get it working by adding a configuration to their `devenv.exe.config` like the one below. Admittedly, I have not been able to try this because we do not use a proxy. I'll verify this when I get an environment set up.

* [Proxy Authentication with Visual Studio](https://msdn.microsoft.com/en-us/library/dn771556.aspx)
* [Documentation](https://ms

[2016-06-21 22:06] PirateJubber commented on #301
I have tried adding the code above but it still does not let me through.

[2016-06-21 22:48] twsouthwick commented on #301
@PirateJubber Did you restart visual studio? The config is read at startup.

[2016-06-23 22:31] PirateJubber commented on #301
I did restart visual studio, as well as tried uninstalling/reinstalling/reconfiguring to no avail. I have taken up the issue with my Corporate IT and will let them see what they can do as I'm 99% sure its just that I am not configuring something in the background right. I went ahead and got it working on an off network machine so I can use it in a round about way for now.

I did have another quest

[2016-06-27 17:56] twsouthwick commented on #301
Ok - if you find something out from your IT that we could do differently to make this easier, please let us know.

@conniey  has been working on updating the VS integration, so she's probably better to answer your second question. It supports csproj, vbproj, and fsproj AFAIK; which project types are you using? Do you see any pattern of which ones are available and which ones are not?

[2016-06-30 09:49] Thorium opened #304 "Analyzing F# assembly?"
Hello,

I made a little F# program and try to analyze the portability of it.
The report gives me a huge list of red crosses even if I use the framework which I build the program with? (IRL the program compiles and works fine.)

[code]

So basically my software is 73% of compatible with the .NET 4.5.1 which is the framework which I used to build it. And it gives zero recommended changes. The proble

[2016-06-30 14:44] Thorium commented on #304
Here is a sample with .NET 4.6.2: http://thorium.kapsi.fi/copy.html

[2016-06-30 15:42] conniey commented on #304
Thanks for bringing this to our attention. The reason is because we have not added the F# specific assemblies like FSharp.Core.dll to our profile. I am looking into resolving this.

[2016-06-30 18:22] terrajobst commented on #304
It seems we've identified the `Microsoft.FSharp.*` incorrectly as built-in framework APaIs. They should be classified as external API.

I think the reason is that ApiPort [makes the assumption](https://github.com/Microsoft/dotnet-apiport/blob/master/src/Microsoft.Fx.Portability/Analysis/AnalysisEngine.cs#L144) that if the API is listed in the catalog it's a framework API. Since we recently indexed

[2016-06-30 20:27] Thorium commented on #304
My assembly name happens to start with FSharp but not all FSharp apps do. Also FSharp core is not part of my application; the dependency is completely optional as before VS2015 the default installation of Visual Studio had FSharp.core in them.

[2016-06-30 22:25] terrajobst commented on #304
@Thorium In order for you app to work on machines that don't have VS (which should be the default for most people) what matter is whether `FSharp.Core` is part of the .NET Framework or not. So if your app assumes the assembly is provided by the machine, then that's only really valid if you essentially pre-req VS. However, from the .NET standpoint that doesn't change the fact that `FSharp.Core` is

[2016-07-01 12:24] ErikEJ opened #306 "Do not understand report"
Target type .NET Framework,Version=v4.6.1
System.String[0:,0:,0:]
0:,0:,0:].#ctor(System.Int32,System.Int32,System.Int32)
0:,0:,0:].Get(System.Int32,System.Int32,System.Int32)
0:,0:,0:].Set(System.Int32,System.Int32,System.Int32,System.String)

- what does this mean?

[2016-07-01 16:37] twsouthwick commented on #306
Do you have some sample code that generates this report? There are some known issues around multi-dimensional arrays that this may fall into.

[2016-07-01 19:15] ErikEJ commented on #306
I could share the dll??

[2016-07-01 19:22] twsouthwick commented on #306
That would be ideal so we can look at the types it's finding. My email is tasou at microsoft dot com

[2016-07-06 19:10] twsouthwick commented on #306
I took a look at the assembly @ErikEJ is using and it is the same issue as #42. Thanks for reporting - we'll see if someone can look into it. I'm going to close this issue as the other issue is the root cause.

[2016-07-06 19:10] #306 closed

[2016-07-11 18:35] EricZimmerman opened #309 "APIPort reporting issues with DateTimeOffset constructors, but they exist in corefx"
additionally, no constructors seem to work.

this is the code i have:

 var dtoffset = new DateTimeOffset(DateTime.Now,TimeSpan.Zero);

and i have tried several other variations. the corefx code is full of such references like this too:

var dateTimeOffset = new DateTimeOffset(new DateTime(2012, 6, 11, 0, 0, 0, 0, DateTimeKind.Utc));

yet when i add this to my class and use apiport, i get things l

[2016-07-11 22:37] conniey commented on #309
@terrajobst Immo, is there an issue with the API catalog? I was looking and it looks like none of the DateTimeOffset ctors are supported in .NET Core 5.0.

[2016-07-11 23:12] EricZimmerman commented on #309
APIPort also complained heavily about nullable types but no compile errors in VS

[2016-07-11 23:19] conniey commented on #309
@EricZimmerman Can you give me an example so I can look into this?

[2016-07-11 23:20] EricZimmerman commented on #309
An apiport output example or a code snippet?

On Monday, July 11, 2016, Connie Yau <notifications@github.com> wrote:

[2016-07-11 23:32] conniey commented on #309
A code snippet, please.

[2016-07-12 15:44] EricZimmerman commented on #309
the code in the try/catch block is what is throwing the warnings in apiport. i have a bunch of other code related to nullable all over the place but this function exhibits it as well

[code]

[2016-07-14 19:32] rnagpal opened #310 "Issues choosing .NET Core target in VS extension of the tool"
Somehow .NET Core (v5.0) is not being detected as a supported target. I was able to run this from the VS Extension couple of days back but something seems to be broken. I'm able to target other platforms.

Here is the Output:
Finding source line information
	Microsoft.Azure.Documents.Client.dll           [Done]
Microsoft (R) .NET Portability Analyzer 1.0.261.0 (alpha)
Copyright (C) Microsoft Co

[2016-07-15 19:41] twsouthwick commented on #310
Thanks, @rnagpal. This is a known issue that @conniey is looking into.

[2016-07-20 10:26] ArturKarbone commented on #302
Any plans, predictions when the new version is going to be shipped ?

[2016-07-25 14:31] conniey commented on #302
@ArturKarbone I plan on shipping a version sometime by the end of this week with a bug fix.  And hopefully within the next two sprints, get the VSIX in the public

[2016-07-25 15:59] conniey commented on #310
@rnagpal I am working on a fix for this. The problem is that the extension is not updating the targets properly when they have been saved. As a workaround, you can:

1. Close Visual Studio
2. Go to the folder: `%LOCALAPPDATA%\Microsoft\VisualStudio\14.0\Extensions`\
    * For me, it was inside `AppData\Local\Microsoft\VisualStudio\14.0\Extensions\le3cm214.ez2`
3. Inside, search for: `options.dat`

[2016-08-11 11:37] martincostello opened #312 "HTTP 500 from service"
The tool appears to be no longer working due to an HTTP 500 from the back-end using the console application and the VSIX:

**Console output:**
[code]

**VSIX Output**:

[code]

[2016-08-11 15:04] conniey commented on #312
@martincostello Thanks for reporting this.  We had updated the catalog but had not updated the default targets. It should be fixed now.

[2016-08-14 00:46] giulianisanches commented on #312
I'm having the same issue.

Also, under the Tools -> Options, i dont get any platform or library to choose from.

Thanks.
![f1](https://cloud.githubusercontent.com/assets/81200/17646433/4d53153e-619f-11e6-8e08-cb620a70fbcf.png)
![f2](https://cloud.githubusercontent.com/assets/81200/17646432/4d52a392-619f-11e6-86c7-22c159deed20.png)

[2016-08-14 22:26] conniey commented on #312
@giulianisanches Hi. I apologise for that. We changed our catalog updates to run every day... but the default targets were incorrect because of some changes in platform names. I fixed the service so it is working again. Can you try it again?

[2016-08-16 03:07] giulianisanches commented on #312
Working. Thank you :)

[2016-08-19 17:28] #312 closed

[2016-08-27 16:10] petrroll opened #314 "System.Boolean.ToString() is supported but the tool says otherwise"
Hi, the tool mistakenly identifies `System.Boolean.ToString() `as a missing API from most Target types (.NET Core 1.0, 1.1, Full Framework 4.6.2, .NET Standard v1.7, ...) while it's (obviously) present.

Repro:
1) Create a .NET 4.5.x and a .NET Core Console app projects.
2) Copy following code to both of them:
[code]
3) Run analysis on the FullFramework one -> following problem will show up
![erro

[2016-08-30 17:18] niharsanghvi opened #316 "Target Platforms in apiport visual studio addin. (netcoreapp vs asp.netcore)"
I am using visual studio plugin for apiport.  In Tools->Options the target platform list contains netcoreapp 1.0/1.1, netstandard 1.0-1.7 and ASP.NET core 1.0.
We have a .net based calculation library that we are researching to port to .net core and potentially run it within an asp.net server on linux.  What i am not sure about is should I be running APIPort with target platform set to netcoreapp1

[2016-08-31 12:22] Thorium commented on #304
Any news on this one?

[2016-09-01 18:35] conniey commented on #316
@terrajobst The set of APIs listed under ASP.NET Core 1.0's API Catalog profile do not include .NET Framework dlls. Is this the correct profile?

[2016-09-01 21:25] conniey commented on #304
@terrajobst

We are currently doing this, sort of in [DotNetFrameworkFilter](https://github.com/Microsoft/dotnet-apiport/blob/master/src/Microsoft.Fx.Portability/Analyzer/DotNetFrameworkFilter.cs#L45-L50).  We analyse an API call if it's defined in an assembly that:

1. We see if it has a public key token that is a MSFT public key token, OR
2. Starts with a prefix of "Microsoft.", "System.", or "M

[2016-09-04 04:40] SychevIgor commented on #302
@conniey I hope vsix will be published soon. .net core released ~1.5month ago and some dev already porting their apps a library. this tools will be very useful for us.

[2016-09-04 04:55] SychevIgor opened #317 "update source code to .net 4.5.2 or even 4.6"
https://support.microsoft.com/en-us/gp/framework_faq/en-us?wa=wsignin1.0
As I understand, 4.5 already not supported by Microsoft officially. Maybe it will be better if we will target newer version of .net here...

[2016-09-05 05:34] conniey commented on #302
@SychevIgor Hi.  You should already see the new targets in the existing VSIX. The extension gets those platforms and APIs from an Azure cloud service every time you use it. As a result, no real analysis is done in the VSIX; we propagate that information to Azure to perform analysis and send you back a result.

Tools > Options > .NET Portability Analyzer
![platform](https://cloud.githubusercontent.

[2016-09-05 15:27] jnm2 commented on #302
@conniey I did not pick up on that! That's cool! Maybe there could be some way to notify users when significant updates are made so they know to run it again?

[2016-09-27 20:57] twsouthwick commented on #317
I'm somewhat confused as to what the issue is. Targeting 4.5 (or even 4.0) is still supported. The lowest runtime supported is 4.5.2, but you can still run code targeting 4.5 on higher versions. Is this what you are referring to? If so, please read a recent blog post about it: https://blogs.msdn.microsoft.com/dotnet/2016/05/02/introduction-to-net-framework-compatibility/.

If you are referring to

[2016-09-27 22:16] twsouthwick commented on #302
@jnm2 Can you create an issue to track that as a feature request?

[2016-09-28 20:13] conniey opened #323 "Add CI build and integrate into PRs"
Workitems
- [x] Configure CI Build [dotnet-ci](https://github.com/dotnet/dotnet-ci)
- [ ] Make TreatWarningsAsErrors for Release build consistent in repository

[2016-09-30 22:03] twsouthwick commented on #317
I'm going to close. If you feel this is an issue, please clarify your statement and we can continue a discussion.

[2016-09-30 22:03] #317 closed

[2016-09-30 22:04] twsouthwick commented on #314
@petrroll This should be fixed as of today in a recent data update. Please let us know if it works or if you are still seeing the issue.

[2016-10-01 00:04] jnm2 opened #331 "Provide a notification when new targets become available in VS extension"
Since new versions are shipped on the server side (see #302) rather than via the extensions updater, you don't get notifications for it. It would be nice to know when this happens in case you might want to run the tool again.

(As requested.)

[2016-10-03 19:18] twsouthwick commented on #331
Thanks, @jnm2. The catalog gets updated every night, so this may cause a lot of excess notifications. Are you looking for notification when a specific API gets added or when new targets are added?

[2016-10-03 19:40] jnm2 commented on #331
All that matters to me so far is when new targets are available.

[2016-10-03 21:08] twsouthwick commented on #331
Ah, ok. That's a much more doable request :) I'll update the title to reflect that

[2016-10-05 17:12] twsouthwick commented on #276
Another option is to follow the steps explained here: http://stackoverflow.com/questions/15646079/invoke-webrequest-getsystemwebproxy.

Essentially, you can use `PSDefaultParameterValues` and set some default values in your profile.ps1. This, of course, assumes you're using powershell instead of cmd.

[code]

[2016-10-05 17:12] #276 closed

[2016-10-05 17:13] twsouthwick commented on #245
We've added a context menu which will be available in the next release.

[2016-10-05 17:13] #245 closed

[2016-10-05 17:14] twsouthwick commented on #314
Please re-open if you still see the issue.

[2016-10-05 17:14] #314 closed

[2016-10-05 17:14] #294 closed

[2016-10-05 17:17] twsouthwick commented on #301
Please re-open if you learn anything that's a problem on our side.

[2016-10-05 17:17] #301 closed

[2016-10-05 17:19] twsouthwick commented on #316
It contains the .NET Core, as well as ASP.NET Core libraries. You will want to analyze against a .NET Standard, since you are porting a library. The lowest supported standard is the ideal, as it ensures it will be supported across the most platforms. See https://docs.microsoft.com/en-us/dotnet/articles/standard/library for more information

[2016-10-05 17:19] #316 closed

[2016-10-05 17:19] twsouthwick commented on #300
@jrlinde I'm closing this now, but if you're able to provide a repro, we will investigate.

[2016-10-05 17:19] #300 closed

[2016-10-05 17:23] raffaeler commented on #276
Thanks for this additional info.
The baseline problem is that the corporation do not want the machine to connect to the internet since it has "sensible" data (the sources).
The best workaround would be to have an option to download the required data from another machine and then being able to run the tool, totally offline, on the one who can access the source code.

[2016-10-05 17:31] twsouthwick commented on #285
Yes, this is related. We think we have a workaround, but we'll track that in the original issue

[2016-10-05 17:31] #285 closed

[2016-10-05 17:32] twsouthwick commented on #261
This makes sense. We would love a contribution if you want to add that to the HTML report generator!

[2016-10-05 17:33] twsouthwick commented on #251
@conniey Do you have a repro of this?

[2016-10-05 17:39] twsouthwick commented on #310
This is fixed and will be available in the next release.

[2016-10-05 17:39] #310 closed

[2016-10-07 19:21] #299 closed

[2016-10-09 11:16] assafk1 opened #346 ".NET Core 1.1(App?)"
Hi,
.Net Core 5.0 used to show up as ".Net Core 5.0" in the output of "listTargets". I installed the new .NET Core 1.0.1 - VS 2015 Tooling Preview 2  from https://www.microsoft.com/net/core#windows and what i see now is the following:

Retrieving targets                                [Done]

Available Targets:
- .NET Core App [Version: 1.1*; 1.0]
- .NET Framework [Version: 1.1; 2.0; 3.0; 3.5; 4.0

[2016-10-09 16:21] Petermarcu commented on #346
Its .NET Core App 1.0. It was decided to treat it as a new product ans start it at 1.0 while previews were at 5.0.

[2016-10-09 16:22] Petermarcu commented on #346
Note, that in 1.2 we are bringing in a ton more apis to support .net standard. If you see gaps, you can also run it against .NET Standard 2.0 and see if its there. If it is, we plan on implementing it in .NET Core App 1.2.

[2016-10-10 07:13] assafk1 commented on #346
Awesome thanks!
1.1 is not released yet is it? Looks like it was scheduled for fall 2016 according to the [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md). Can you share any timelines beyond what is written there?

[2016-10-10 15:27] Petermarcu commented on #346
Yes, it will be before the end of the year if all goes as planned. There should be a preview available very soon. 1.1 doesnt have a ton of new apis and apiport will already be mostly correct because its done from an api perspective. 1.2 is the wave where tons of apis will be added.

[2016-10-10 18:36] #279 closed

[2016-10-10 20:06] assafk1 commented on #346
Cheers!
Thanks

[2016-10-10 20:06] #346 closed

[2016-10-13 15:50] modulexcite opened #355 "Visual Studio Extension Error"
Hi,

Thank you for the extension.
The new version of the extension 1.3.0.114 downloaded from VSIX gallery is throwing an error "could not load file or assembly Autofac" and it seems like the packaged vsix is missing a few dependent libraries such as Autofac, etc.
I'm using Visual Studio 2015 Update 3, the older version v1.2 of this extension from the MSDN gallery seems to work fine and has the dep

[2016-10-13 15:52] conniey commented on #355
Thanks for letting us know. Surprised that we have folks Dogfooding that CI build already! I am working on fixing this issue. It was due to my PR #354 . :/

[2016-10-13 15:59] modulexcite commented on #355
Guilty:)
Thought I'd get on the new features bandwagon for this extension before it bit me in the ass:)

___________________________
Thanks.

On Thu, Oct 13, 2016 at 11:52 AM -0400, "Connie Yau" <notifications@github.com> wrote:

Thanks for letting us know. Surprised that we have folks Dogfooding that CI build already! I am working on fixing this issue. It was due to my PR #354 . :/

—
You are rec

[2016-10-13 16:00] modulexcite commented on #355
Thanks for fixing it by the way:)

[2016-10-13 17:44] twsouthwick commented on #355
@connie just saw this issue, but I think a PR I just submitted will fix this issue. By switching to project.json, the NuGet dependencies were not being included by default into the VSIX. I found a work-around for now.

[2016-10-13 18:30] twsouthwick commented on #355
@modulexcite can you update to the latest version and give it a try?

[2016-10-13 18:36] twsouthwick commented on #355
You'll need 1.3.0.115 or later

[2016-10-13 18:45] modulexcite commented on #355
Has it been published to the VSIX gallery?

[2016-10-13 18:48] modulexcite commented on #355
Never mind, see it on the gallery.

[2016-10-13 18:59] modulexcite commented on #355
Now i get a different error upon running the analyzer, see below. I failed to mention earlier that I'm on a Windows 7 SP1 OS with VS 2015 Professional Update 3.
***
Analyzing compatibility                            [Failed]

There was an unknown error code from the service: 'InternalServerError'.  Please make sure you have the most up-to-date version.

[2016-10-13 19:33] conniey commented on #355
@modulexcite Weird. It may be because a few of our last builds had the incorrect digital signature. We fixed it in version 1.3.0.117 (the latest one on the vsixgallery.com).

In the meantime, I'll spin up a Windows 7 VM and try to repro your issue.

[2016-10-13 20:23] modulexcite commented on #355
Version 1.3.0.118 seems to be working, thank you guys.

[2016-10-13 20:45] modulexcite commented on #355
I found another unrelated issue.
Whenever I open the Visual Studio options, the extension is creating a "Portability Analysis" folder in the "My Documents" directory which is the default output directory that you can specify under options for the extension even though I asked it to use a different directory for the output.

[2016-10-13 21:47] conniey opened #359 "VSIX creating folder in default location even though directory settings have changed"
Whenever I open the Visual Studio options, the extension is creating a "Portability Analysis" folder in the "My Documents" directory which is the default output directory that you can specify under options for the extension even though I asked it to use a different directory for the output.

[Original comment](https://github.com/Microsoft/dotnet-apiport/issues/355#issuecomment-253633450)

[2016-10-13 21:47] conniey commented on #355
Thanks! I've created an issue for that #359

[2016-10-14 04:09] conniey commented on #251
Can't repro

[2016-10-14 04:09] #251 closed

[2016-10-14 17:42] #355 closed

[2016-10-14 22:15] #323 closed

[2016-10-14 23:00] conniey commented on #302
I've updated the VSIX here: https://visualstudiogallery.msdn.microsoft.com/1177943e-cfb7-4822-a8a6-e56c7905292b

[2016-10-14 23:02] shaggygi commented on #302
@conniey thank you

[2016-10-14 23:02] conniey opened #362 "Add description of .NET platform targets"
It's hard to decipher what some of the targets are. It would be nice to add a sentence describing what each target is. (ie. What is the difference between .NET Standard and .NET Core App?)

[2016-10-17 15:41] twsouthwick commented on #302
Closing this now that the VSIX has been updated.

[2016-10-17 15:41] #302 closed

[2016-10-17 15:42] twsouthwick commented on #253
Behavior for this has changed. See #359 for an updated issue.

[2016-10-17 15:42] #253 closed

[2016-10-17 15:50] twsouthwick opened #363 "Add option to analyze all output in VSIX"
Right now there are three options:

1. Analyze solution
2. Analyze supplied assemblies
3. Analyze individual project

We should add an option for individual project to analyze all dependent projects as well

[2016-10-17 17:59] twsouthwick opened #367 "Update RazorEngine to a version that supports .NET Core"
This will allow the html writer to work in .NET Core as well.

[2016-10-17 18:04] #304 closed

[2016-10-18 18:17] #363 closed

[2016-10-25 22:37] twsouthwick commented on #276
@raffaeler The workaround I gave is only for the build step since at this time we don't provide a pre-built version of the offline mode as a download. Once you have it built, then you may run it offline (in the sense that no network connectivity is required).

[2016-11-07 21:29] sharpe5 opened #372 "In the Visual Studio Extension, there is no scrolling in the results"
The API portability tool is amazing, great work!

Some feedback: if I run too many reports, there is no scrolling, so I have to clear out the directory, then restart Visual Studio to see the latest report:

![scrolling](https://cloud.githubusercontent.com/assets/1290916/20076610/067c6ef0-a531-11e6-9b08-0682e8256e52.png)

[2016-11-07 21:34] sharpe5 opened #373 "If I implement IObservable<T>, IObserver<T> in my own class, its a false negative on compatibility"
I am currently porting my library NetMQ.ReactiveExtensions to .NET Core:
https://github.com/NetMQ/NetMQ.ReactiveExtensions

However, it is currently giving a false negative on the compatility with .NET Core 1.0 and .NET 4.6.2.

I implemented IObservable<T>, IObserver<T> in my own class:

![iob](https://cloud.githubusercontent.com/assets/1290916/20076777/9f7b6aca-a531-11e6-902a-9a61735835f2.png)

N

[2016-11-09 06:01] conniey commented on #373
@sharpe5 Thanks for the issue report! Would you mind passing me a small repro? According to the API Catalog, there is only one API in `IObservable<T>`, that is: `IObservable<T>.Subscribe(IObserver<T> observer);`.  So I am curious where this API definition comes from.

Cheers,
Connie

[2016-11-09 07:00] sharpe5 commented on #373
I implemented IObservable and  IObserver myself. I used RX for just the
interfaces. The implementation allows RX messages to be sent between
different processes using ZeroMQ as the transport/serialization layer.

See https://github.com/NetMQ/NetMQ.ReactiveExtensions.

I guess you could say that the  interface comes from Microsoft, but I wrote
the implementation.

I'm currently in the process of po

[2016-11-09 07:21] sharpe5 commented on #373
Hi,

FYI, last night, I upgraded from RX 2.2.5 to RX 3.1.0. I also broke the
build (temporarily).

You can check the code out and run ApiPort on it by ignoring any checkins
in the last 24 hours:
https://github.com/NetMQ/NetMQ.ReactiveExtensions

On 9 Nov 2016 07:00, "DesignREM support" <support@designrem.com> wrote:

[2016-11-09 07:49] conniey commented on #373
@sharpe5 Hi, I did the following:

1. `git clone https://github.com/NetMQ/NetMQ.ReactiveExtensions`
2. Build solution
3. Right-click -> "Analyze Assembly Portability" (my preferences were against .NET 4.6.2, .NET Core App 1.1, 1.2, .NET Standard 1.3, 1.6)
4. Viewed report

I cannot see that error you are seeing. :(

[2016-11-09 07:50] conniey commented on #373
It may be helpful to note that our API Catalog only indexes APIs that the .NET Framework ships. So APIs in MEF and Reactive .NET are probably not part of the catalog.

[2016-11-09 07:53] sharpe5 commented on #373
Please pull a checkin that is more than 48 hours old. Last night, I
upgraded from RX 2.2.5 to RX 3.1.0. Can reply in more detail tonight.

On 9 Nov 2016 7:49 a.m., "Connie Yau" <notifications@github.com> wrote:

[2016-11-09 08:00] conniey commented on #373
@sharpe5 Hey, I pulled your repository 30 minutes ago and it says that the last checkin was "Tue Nov 8 21:17:12 2016 +0000".

How we determine whether to send an API to our service is based on this [`DotNetFrameworkFilter.cs`](https://github.com/Microsoft/dotnet-apiport/blob/a5988f7c0cd01ce31b83ea7bdee39b8abf4d4c38/src/Microsoft.Fx.Portability/Analyzer/DotNetFrameworkFilter.cs#L37-L62). It is prob

[2016-11-09 08:08] sharpe5 commented on #373
Hi,

By the way, awesome video on Channel 9, you guys are doing a great job.
Some feedback: my whole aim is to make my NuGet package compatible with
.NET Core. Making the API calls compatible was only 50% of the job. The
other 50% was getting the .nuspec file compatible. It would be awesome if
you could auto-analyze any NuGet package definition files, and advise on
fixes to make them compatible. T

[2016-11-09 08:10] sharpe5 commented on #373
Hi,

Ok, I'll prepare a repository to reproduce the problem (am on the train to
work now). You will have it within 24 hours.

Best,
Shane

On 9 Nov 2016 8:00 a.m., "Connie Yau" <notifications@github.com> wrote:

[2016-11-10 20:26] ssg opened #375 "The service is down?"
I didn't know where to report this directly so opening an issue here.

[2016-11-11 00:34] conniey commented on #375
I just tried it an it appears to be working. :( Can you try again?

Connie

[2016-11-11 00:35] ssg commented on #375
it's back now, thanks!

[2016-11-11 00:35] #375 closed

[2016-11-12 12:08] sharpe5 commented on #373
Closed, as I could not reproduce this issue.

I went back through all of the checkins, did a "git reset --hard <ID>", and all of them passed with no problems.

I think that either:
(a) The issue has been fixed server side, or;
(b) It was a rare corner case when compiling for .NET Standard, but still referencing RX 2.2.5. In this case, the failure was genuine. As RX references are now updated to RX

[2016-11-12 12:08] #373 closed

[2016-11-15 01:07] #372 closed

[2016-11-15 08:11] twsouthwick commented on #367
Duplicate of #218

[2016-11-15 08:11] #367 closed

[2016-11-19 09:47] johnkors opened #379 "netcoreapp version crashes"
This version of apiport is not expecting a certian dotnet core version to be installed on my system, right? It should just work, as it's bundled with the dotnet core version it needs? Or am I missing something?

[code]

[2016-11-19 09:48] johnkors commented on #379
For what it's worth, I've dotnet 1.1.0 installed outside that folder.

[2016-11-19 16:08] Petermarcu commented on #379
Looks like it's depending on 1.0.X because it's a netcoreapp1.0 app. Try installing 1.0.X.

[2016-11-19 16:36] rnagpal opened #380 "APIPort missing Dependencies tab"
I remember in earlier versions of APIPort that there used to be a External Dependencies tab which used to tell any external dependencies that your project has, so that we can ensure that we reference their .NET Core versions when compiling our project. This doesn't seems to be present in the latest APIPort version.

[2016-11-20 16:15] johnkors commented on #379
Isn't this a self-contained app meaning it comes with all it's deps (also dotnet core 1.0.x)?

[2016-11-22 03:33] conniey commented on #379
It may be because we are using msbuild to build the netcoreapp1.0 instead of the .NET CLI tools.

[2016-11-22 19:59] scottaddie opened #382 "unity.config file being ignored"
I wanted to view the data being transmitted to the portability service, so I created a `unity.config` file as described [here](https://github.com/Microsoft/dotnet-apiport/blob/master/docs/Console/README.md#see-the-data-being-transmitted). I then ran my ApiPort command again, and expected to see a file produced which would provide the data transmission detail. No such file was produced.

I dug into

[2016-11-22 21:54] conniey commented on #382
Thanks for letting us know! I'll try to look into it

[2016-11-23 14:04] scottaddie commented on #379
@conniey Does this mean that VS 2017 RC is required in order to compile the .NET Core project with MSBuild?

[2016-11-23 15:17] johnkors commented on #379
It think all MSBuild does is pipe everything to `dotnet` anyhow.

[2016-11-26 20:34] pabloarista opened #384 "newtonsoft.json.jsoncovert.deserializeobject is reported as not supported in .NET 4.6.2"
I get this message that DesearilizeObject is not supported on .net 4.6.2

"newtonsoft.json.jsoncovert.deserializeobject``1(System.string) not supported on .net framework, version=v4.6.2"

I just installed .net 4.6.2 and I have no errors compiling and running this method

[2016-11-28 22:34] conniey commented on #384
Currently we provide information about assemblies that are part of the .NET Framework (ie. System.*, Microsoft.*).  We don't analyse 3rd party assemblies, yet.

[2016-11-29 19:32] pabloarista commented on #384
Got it. It didn't seem right, but it makes sense why now

[2016-11-29 19:32] #384 closed

[2016-12-05 21:33] rajasimhanv commented on #362
so what is the target that we should use while scanning our applications. I don't understand what to set as target.  Mine is an MVC project, I created it in .NET Core (VS2013), wanted to see what the analyzer will say (I was expecting 100% against  the class libraries and mvc project) when I target asp.netcore, but it was not 100% then pointed it to .net standard, again its not 100% and tried .net

[2016-12-06 14:24] conniey commented on #362
@rajasimhanv Hi,

The reason that the results are confusing is because currently we do not analyse APIs in the .NET Framework and ASP.NET together.

When you sent your web application for analysis against ".NET Framework", we checked for API calls in libraries that are part of what the .NET Framework team ships, that is `System.*`,  `Microsoft.CSharp`, `Microsoft.Build`, etc. assemblies.  APIs lik

[2016-12-12 17:23] enricosada commented on #304
If i read correctly you now exclute FSharp.Core warnings from report, and it's ok. But was committed after last public release (october 15 https://github.com/Microsoft/dotnet-apiport/releases/tag/v1.4.0.alpha.00119 ).
@twsouthwick @conniey Is possibile to have another release of api port? all these errors are really noisy for f# app/lib analyses, and i'd like to tell people to use `apiport` to che

[2016-12-14 10:58] Mattacks opened #388 "There was an unknown error code from the service: 'InternalServerError'. Please make sure you have the most up-to-date version."
apiport.exe analyze -f _folder_
Gives:

"There was an unknown error code from the service: 'InternalServerError'.  Please make sure you have the most up-to-date version."

during 'Analyzing compatibbility

Reported when I have just downloaded the latest version
1.4.0-alpha-00119

When I ran it in 1.2 I got the same error, but with the following additional stack trace:

Detecting assembly reference

[2016-12-16 01:47] conniey commented on #388
@Mattacks Would you mind checking again? There was a service degradation around the time you created this issue. The service should be up and running now.

[2016-12-16 16:48] ygoe opened #390 "Could not find file"
Running this on an ASP.NET Core 1.0 project targeting .NET Framework 4.6, with the then-proposed directory layout. Here's the output:

[code]

[2016-12-20 06:35] ashutoshbhaskar opened #391 "Unable to contact service. Try again later"
Microsoft (R) .NET Portability Analyzer 1.0.0.0 (alpha)
Copyright (C) Microsoft Corporation. All rights reserved.
More information is available at http://go.microsoft.com/fwlink/?LinkId=506955

Using default target platforms.
To select platforms, visit Tools->Options->.NET Portability Analyzer.
Detecting assembly references                      [Done]
Analyzing compatibility

[2017-01-05 19:02] conniey commented on #391
I checked this and it works. There was a service degradation around the time you submitted this issue.  Can you try again?

[2017-01-05 19:03] #388 closed

[2017-01-05 19:03] #391 closed

[2017-01-05 19:24] mjrousos opened #393 "Clarify that breaking changes addressed in servicing may not be reported"
When using ApiPort to scan for potential breaking changes, there are a set of compatibility issues that were initially present in some release and were later addressed via a hotfix. Not all such issues are included in ApiPort's markdown files at the moment (since customers should typically be installing servicing updates).

For completeness, we should add a comment in ApiPort reports (or output) w

[2017-01-06 04:51] #382 closed

[2017-01-06 09:29] Mattacks commented on #388
Yes, that seems to have been it.
However, the bug was not really about the failure but the uninformative error message. Have you fixed the error message?

[2017-01-13 08:07] emmanuelmathot opened #394 "ApiPort with mono fails for all assemblies"
Hello,

I am trying to assess the portability of several assemblies developed with mono but I receive an error from APIPort program.

Here is the command and its output

[code]

What is the issue?  I do not see a way to debug...
Running on MAC OS X with mono 4.6.0

[2017-02-09 17:42] rhafeez commented on #388
I have downloaded the Visual Studio extension for ".net portability analyzer" and I am getting a same error while running it on one of the project,

[code]
and when i go to Portability Analyzer settings then it is showing me following error,

unable to contact service. Try again later.

is that a same issue or something different? or service is not available now?

[2017-02-09 17:44] rhafeez commented on #388
I have 1.3.0.119 version of this extension on my machine.

[2017-02-11 20:58] terrajobst opened #397 "Add Visual Studio 2017 Support"
The VS extension is currently not available for VS 2017. We should add that.

[2017-02-27 15:32] AArnott opened #399 "Type.IsAssignableFrom reported to be "Not Supported""
[According to `apisof.net`](https://apisof.net/catalog/System.Type.IsAssignableFrom(Type)), `Type.IsAssignableFrom(Type)` is available in netstandard2.0. But this command line tool says it's simply "Not supported".

[2017-02-27 15:34] AArnott opened #400 "Dataflow and immutable collections allegedly "not supported" in .netstandard"
All my uses of System.Threading.Tasks.Dataflow and System.Collections.Immutable are flagged as "Not supported" but of course they are, because these are .netstandard libraries.

[2017-02-27 16:38] Petermarcu commented on #400
Yeah, this is an ongoing request I believe. We've hit it too. The problem is the tool currently only considers what is "in the platform" and not all the things that can run just fine "on the platform".

[2017-02-27 17:46] chlowell commented on #399
`apisof.net` is correct here. However, when no target netstandard version is specified, ApiPort defaults to 1.6. For it to consider APIs in 2.0, that version must be specified: `ApiPort.exe analyze -t ".NET Standard,Version=2.0"`.

Even so, instead of labeling the API "Not supported", the Excel report should indicate its availability in netstandard2.0.

[2017-02-27 17:48] AArnott commented on #399
This answer seems to suggest that no API available only in netstandard2.0 will be reported as available in the spreadsheet. But in fact that's not the case. When I use `-t ".NET Standard"`, I see APIs that are simply "not supported" as well as APIs that are available only in .netstandard2.0:

![image](https://cloud.githubusercontent.com/assets/3548/23372761/dd2a36b0-fcd1-11e6-94cd-3adc77b64f5b.png

[2017-02-27 17:50] chlowell commented on #399
Sorry if I was unclear above--I agree the inconsistency is a bug; the report should indicate support in 2.0+.

[2017-03-04 01:55] terrajobst opened #401 "API Port should overwrite output file if explicitly specified"
Whenever I run `apiport.exe` it creates a new report, like:

[code]

That makes sense if no output file is specified, e.g. `-o|--out` is omitted. However, if I specify the filename, I expect the output to be overwritten. For instance I often find myself wanting to use a command line like this:

[code]

Doing so allows me to play with different options, targets, and last but not least incrementally

[2017-03-04 02:06] terrajobst commented on #401
I should note that there is a workaround, but it's somewhat odd:

[code]

[2017-03-16 12:23] duncanpMS opened #402 "Attempting to open an analysis report that has been deleted crashes VS"
**Repro steps:**
* analyse a dll using the VS extension
* click on _Open directory_ in the _Portability Analysis Results_ tool window and delete/rename the report file
* click on _Open Report_ in the _Portability Analysis Results_

**Expected:**
Anything except a crash (e.g. a message box saying the file has been moved or deleted)

**Actual:**
VS crashes

[2017-03-21 16:52] drocsid opened #404 "Feature: Support for Visual Studio for Mac"
Visual Studio for Mac is in preview. I am going to try running VS2015 in VirtualBOX for the time being, but would be easier if this supports Visual Studio for Mac.

[2017-03-30 18:43] msollicito opened #407 "EmbeddedResources error on load"
I get these errors when loading up the solution

![image](https://cloud.githubusercontent.com/assets/187311/24520661/3dd9adae-1557-11e7-94bb-1f1aa52565f8.png)

[2017-03-31 17:24] conniey commented on #407
@msollicito Thanks for mentioning this! These are some weird false errors we get in VS2015 when building the solution. If you check the "Output" window, it should say that there were no failures.

These errors should disappear when we migrate to VS2017.

[2017-04-19 02:51] berlamont commented on #397
This would be great, looking forward to when it comes out, thank you guys!

[2017-04-25 22:43] bernd5 commented on #390
This error seem to occur when we use the new csproj file format, really bad.
I have my code in shared projects. If add a reference of it to a "classic" project it works fine, but with the new format it fails...

[2017-04-25 23:52] jeremymeng opened #416 "Feature Request: include major unsupported components in report summary"
It would be nice to get a general idea about the major components that block the porting.  There could be a mapping from namespaces to components, e.g.,

System.AppDomain => App Domain
System.Windows.Forms => Win Forms
System.Windows.*** => WPF
System.Runtime.Remoting => Remoting/RPC

and `major` can be defined as greater than some chosen percentage.

[2017-04-26 06:48] ygoe commented on #390
My original report was for project.json, which was available at that time. But it doesn't seem this tool gets any maintenance. With the upcoming .NET Standard/Core 2.0, this probably isn't much needed anymore anyway.

[2017-05-03 16:13] letmaik opened #419 "No "Analyze solution" entry in VS extension"
When I right-click on a solution in Solution Explorer I don't find an entry for running the analysis. The entry is only there when I right-click on a project. I use VS 2015.

[2017-05-03 18:04] conniey commented on #419
I believe this is because there may be projects that are not .NET projects (C#/VB/F#/managed C++) in your solution, so it hides the context menu item.

Code: [AnalyzeMenu.cs#L10](https://github.com/Microsoft/dotnet-apiport/blob/2c667d5e8dcdac3f2a3c7e0cc67525a2f58b89b0/src/ApiPort.VisualStudio/AnalyzeMenu.cs#L105)

This isn't desirable behaviour. Probably better to try to analyze all managed projec

[2017-05-03 18:30] letmaik commented on #419
Right, my current workaround is to use the CLI app.

On 03/05/2017 19:04, Connie Yau wrote:

[2017-05-03 19:07] conniey commented on #379
If you pull the latest version of master and build it, executing: `dotnet .\ApiPort\netcoreapp1.0\ApiPort.dll` should work now.

[2017-05-03 19:07] #379 closed

[2017-05-03 19:08] conniey commented on #397
Fixed in #411.

[2017-05-04 11:57] xied75 commented on #397
When can we install it in VS2017?

[2017-05-04 17:44] mjsabby opened #421 "ApiPort offline is broken"
I recently built a new copy of this repo and now ApiPort.Offline\ApiPort.exe is no longer getting built by the default build command.

There seem to be some dlls in that folder though, so I'm not sure if some other option is needed to get a full build of the offline version of the tool.

[2017-05-05 04:04] #421 closed

[2017-05-05 04:07] conniey opened #423 "Fix test runs in Jenkin builds"
Current builds are only running tests from ApiPortVS.Tests: [Jenkins PR build](https://ci2.dot.net/job/Microsoft_dotnet-apiport/job/master/job/Debug_prtest)  May require fixing `.build\runtests.ps1`

[code]

[2017-05-05 04:31] conniey commented on #421
@mjsabby . Hi, can you try pulling again and building the solution?  It should generate a working ApiPort.Offline now.

[2017-05-05 04:32] conniey commented on #407
fixed with #411.

[2017-05-05 04:32] #407 closed

[2017-05-05 17:56] conniey commented on #397
Our CI Builds are published to VSIXGallery. You can install/test it here: http://vsixgallery.com/extension/55d15546-28ca-40dc-af23-dfa503e9c5fe/

[2017-05-05 18:56] conniey opened #425 "Fix PR checks for Compatibility Issues and Recommended Changes"
The webhooks for checking PR statuses hang forever.

![image](https://cloud.githubusercontent.com/assets/10136526/25760043/da93cb04-3189-11e7-9da5-bd243fc7b678.png)

[2017-05-06 02:52] scottsauber commented on #397
@conniey  - I tried it out on 4 apps and ran into no issues.  Nice work. 👍

[2017-05-07 19:12] conniey commented on #397
@scottsauber

Detecting assembly references [Done]

Could not find file: 'C:<projectpath>\bin\Debug\net461\win7-x86'
No files were found to upload.

We never tested this scenario with the new .NET Core projects  :( I am working on a fix.  This is most likely caused by some logic here:  https://github.com/Microsoft/dotnet-apiport/blob/master/src/ApiPort.VisualStudio/DteProjectExtensions.cs#L49

[2017-05-07 19:26] scottsauber commented on #397
@conniey - Awesome.  Happy to retest when there's a fix.

[2017-05-11 20:21] #419 closed

[2017-05-12 17:20] tarekgh opened #427 ".NetCoreApp TFM is not recognized"
When using TFM like `".NetCoreApp, Version=2.0"` The tool will complain it is not recognized.

[code]

I know ".Net Core" will work but I think ".NetCoreApp, Version=2.0" is the real TFM used in the product and should be supported when used.

Also when the tool don't recognize the TFM, it'll be nice to have the tool display the list of the supported TFMs automatically. this will give a clue to the

[2017-05-12 21:22] conniey commented on #427
Supported targets are shown using `.\ApiPort.exe listTargets`.  We don't use TFMs for our targets, we use their "DisplayName" that is taken from the ApiCatalog.

It should be: `ApiPort.exe analyze -t ".NET Core, Version=2.0"`

Yes, we did notice from the telemetry that an improvement would be to add suggestions... but it wasn't high priority due to the number of folks who fell into the issue.  It

[2017-05-12 21:38] tarekgh commented on #427
I know that. my point is would be nice to support both forms ".NET Core, Version=2.0" and ".NETCoreApp, Version=2.0". I am seeing both of them are valid TFMs

[2017-05-14 16:24] cartermp commented on #400
@Petermarcu have there been any changes on this front?  This affects F# all-up, as it will report that all F# code is incompatible because FSharp.Core is not "in the platform", but a separate `.dll` (or package for Core/Standard).

[2017-05-15 01:03] Petermarcu commented on #400
@twsouthwick , @conniey , can you give an update on where we are with including more of the ecosystem that supports .net standard? That's critical as more libraries are converted. F# also appears to need it.

[2017-05-15 06:30] conniey commented on #400
We fetch our API information from the catalog generated from @terrajobst..  @chlowell and I had looked into using NuGet package data to add more data to the ecosystem, but the Kusto data was missing DocIds, which is what we use.

[2017-05-22 16:06] GeekActual opened #429 ""Could not find file: '<projectpath>\bin\Debug\net46\' from VSIX"
I have a simple project that I have built and compiled in 4.6. I have confirmed that the complied .dll is available in <projectpath>\bin\Debug\net46\ directory .

Downloaded and installed vsix for portability tool, in Visual Studio 2017.  When I attempt to run the addin I always get the following error with no other information provided.

[code]

[2017-05-22 19:17] conniey commented on #429
What is the project type you are using? Is it one of the new [csproj](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/csproj) that have the `Microsoft.NET.Sdk` project imports?

[2017-05-24 19:14] GeekActual commented on #429
No it is not, that's why I'm trying to run the upgrade Advisor utility.

It works if I use the analyze function from the toolbar that lets you select a single dollar to analyze, but not if I use the right mouse click function in the solution Explorer

Matthew

e pluribus unum

On Mon, May 22, 2017 at 3:17 PM -0400, "Connie Yau" <notifications@github.com<mailto:notifications@github.com>> wrote:

Wh

[2017-05-25 14:51] twsouthwick commented on #427
We can probably use the `targetMap.xml` infrastructure to add a mapping for that

[2017-05-25 14:53] twsouthwick commented on #399
This probably has a similar root cause as https://github.com/Microsoft/dotnet-apiport/issues/113

[2017-05-25 14:54] twsouthwick commented on #400
Is there a new identifier that is being used? I noticed that with the new doc system, docids have been replaced with something else.

[2017-05-26 22:24] tioduke opened #431 "Provide sources and non windows instructions for building ApiPort.Core"
I was trying to build ApiPort.Core from sources on Linux x64 and I could not find the ApiPort.Core project.

It would also be nice to have some sort of instructions that don't require the use of powershell.

Thank you in advance.

[2017-05-27 04:26] conniey commented on #431
@tioduke Hi, I opened a PR that hopefully addresses your issues. Let me know if you have any more issues.

Cheers,
Connie

[2017-05-30 08:45] karanjitsingh opened #434 "500 Internal server error when trying to run portability analysis"
Microsoft (R) .NET Portability Analyzer 1.0.0.0 (alpha)
Copyright (C) Microsoft Corporation. All rights reserved.
More information is available at http://go.microsoft.com/fwlink/?LinkId=506955

Detecting assembly references                      [Done]
Analyzing compatibility                            [Failed]

There was an unknown error code from the service: 'InternalServerError'.  Please make s

[2017-05-30 19:29] #423 closed

[2017-05-31 00:19] #431 closed

[2017-05-31 14:16] dkent600 commented on #390
I'm getting the same error, the analysis is unable to find folders that do exist.  :-(

[code]

[2017-05-31 18:28] conniey commented on #390
Hi,

Thanks for the issue feedback. It was because we were looking for `<OutputFileName>` in our ProjectAnalyzer for the binaries output from VS projects. I have a PR open for it #430 but am waiting to merge it in because the solution only works on VS2017 right now.  If you want, you can pull from that branch and build it.

[2017-05-31 18:34] dkent600 commented on #390
cool, thanks for the update!

[2017-05-31 21:40] aagarwal10 commented on #434
I am also receiving this exact same error today with latest version. Please help

[2017-06-01 10:29] karanjitsingh commented on #434
Meanwhile, I wrote a small [script](https://gist.github.com/karanjitsingh/6de9e6dc4b0ae38e7542f789f07ba27f) to make do

@aagarwal10, see if this helps you

[2017-06-01 17:21] conniey commented on #434
Hi,
Would you be able to provide a repro for your 500 error? Also, does it repro when you use the ApiPort console tool?

I'm trying to add better logging to our service side, so I can understand the errors better.

Thanks!
Connie

[2017-06-01 17:23] aagarwal10 commented on #434
I get this error when using analyzer using Visual Studio 2015 with latest updates;

Microsoft (R) .NET Portability Analyzer 1.0.0.0 (alpha)
Copyright (C) Microsoft Corporation. All rights reserved.
More information is available at http://go.microsoft.com/fwlink/?LinkId=506955

Detecting assembly references [Done]
Analyzing compatibility [Failed]

There was an unknown error code from the service: '

[2017-06-01 19:46] conniey commented on #434
@aagarwal10 Would you be able to share the VS project it is failing on or a repro?

[2017-06-01 19:49] aagarwal10 commented on #434
the project it is failing on is a Proprietary Enterprise ASP.NET Project and not open source. However, it is a 4.6.1 Web Form application. We are using VS 2015 with latest updates

[2017-06-01 20:40] conniey commented on #434
Thanks for letting me know. I was able to figure out what is wrong.  I'll try to get a fix within the hour.

[2017-06-01 21:31] baumatron commented on #434
Also seeing this issue in VS 2017 Community, .NET Portability Analyzer 1.4.0.175. Looking forward to the fix!

[2017-06-01 22:12] conniey commented on #434
A workaround for now, would be to go to `Analyze > Portability Analyzer Settings` in Visual Studio and select `Excel` as your report format instead of HTML.

[2017-06-01 23:31] aagarwal10 commented on #434
@conniey - workaround suggested by you worked for me. Any idea when we can have HTML Report Generation fixed?

[2017-06-02 00:36] conniey commented on #434
@aagarwal10 I've updated the service just now. It HTML report generation should work.

[2017-06-02 15:40] aagarwal10 commented on #434
@conniey - HTML report generation now works, Thanks for the help

[2017-06-02 16:08] conniey commented on #434
I'll close this but if anything comes up, feel free to open another issue. :)

[2017-06-02 16:08] #434 closed

[2017-06-05 22:32] conniey commented on #103
This would be nice to have for post processing (check against APIs that are not supported).

[2017-06-05 22:35] conniey commented on #103
Large architectural change, will revisit if there is a large ask for this feature.

[2017-06-05 22:35] #103 closed

[2017-06-05 22:35] #107 closed

[2017-06-05 22:36] conniey commented on #113
Known limitation of the catalog.

[2017-06-05 22:36] #113 closed

[2017-06-05 22:37] conniey commented on #119
Nice to have

[2017-06-05 22:37] #119 closed

[2017-06-05 22:38] conniey commented on #153
Duplicate of #103

[2017-06-05 22:38] #153 closed

[2017-06-05 22:40] conniey commented on #156
@terrajobst What is the current version of Mono?

[2017-06-05 22:43] conniey commented on #173
We could look at using the .NET CLI command line libraries/helpers.  Such as: globbing, command processing, help generation.

[2017-06-05 22:44] #174 closed

[2017-06-05 22:44] conniey commented on #174
Easy, to do `-f .` instead.

[2017-06-05 22:49] conniey commented on #184
A lot of the fixes will not be needed after .NET Standard 2.0.

[2017-06-05 22:49] #184 closed

[2017-06-05 22:49] conniey commented on #186
Nice to have.

[2017-06-05 22:49] #186 closed

[2017-06-05 22:50] #202 closed

[2017-06-05 22:51] conniey commented on #205
Double-checked, I think this should be fixed.

[2017-06-05 22:53] conniey commented on #212
Nice to have.

[2017-06-05 22:53] #212 closed

[2017-06-05 22:55] conniey commented on #234
Nice to Have

[2017-06-05 22:55] #234 closed

[2017-06-05 23:01] conniey commented on #252
Nice to have if we moved report generation to client-side.

[2017-06-05 23:01] #252 closed

[2017-06-05 23:03] conniey commented on #257
Looks like a synthetic attribute should be created in Roslyn now. So we'll not worry about it for now.

[2017-06-05 23:03] #257 closed

[2017-06-05 23:05] conniey commented on #261
Nice to have, please re-open if you have a PR to submit. :)

[2017-06-05 23:05] #261 closed

[2017-06-05 23:08] conniey commented on #273
Look at this feature when IOperation is available.

[2017-06-05 23:14] conniey commented on #362
@terrajobst Do we have descriptions of the platform targets in the apicatalog?

[2017-06-05 23:16] conniey commented on #380
Sorry for the slow response, are you referring to the "Unresolved Assemblies" tab? It's still in the report if you have any that the client could not resolve.

If this isn't the case, please reopen.

[2017-06-05 23:16] #380 closed

[2017-06-05 23:22] conniey commented on #394
Can you try it with Mono 5.0.1? Some of the versions of Mono 4.x had issues with the compression APIs we are using.

[2017-06-05 23:25] conniey commented on #397
I'll update you on the issue when I fix #430.

[2017-06-05 23:25] #397 closed

[2017-06-05 23:26] conniey commented on #399
Duplicate of #113

[2017-06-05 23:26] #399 closed

[2017-06-05 23:29] conniey commented on #404
The extensibility model for Mac is different than VS.  We could take a look at hosting at the tools in it but this may be a big task. We would be willing to take PRs for this but we won't be able to take a look at this anytime soon.

[2017-06-05 23:31] conniey commented on #416
This would be helpful.
* We would have to surface the Components list
* We can use the same infrastructure as recommended changes to identify which component a NS belongs in.

[2017-06-05 23:32] conniey commented on #425
Look at using Azure Service Functions to do this.

[2017-06-05 23:36] conniey commented on #429
Duplicate of #430

[2017-06-05 23:36] #429 closed

[2017-06-06 00:01] conniey commented on #240
Cost of this work could also help with #186

[2017-06-06 00:13] conniey commented on #309
I apologise for not circling back to this issue but it should have been resolved. I don't see it listed as unavailable anymore and the catalog surfaced by https://apisof.net/catalog/System.DateTimeOffset..ctor(DateTime,TimeSpan) have it.

[2017-06-06 00:13] #309 closed

[2017-06-06 00:16] conniey commented on #205
We have this fixed here: https://github.com/Microsoft/dotnet-apiport/blob/master/src/Microsoft.Fx.Portability/Analysis/AnalysisEngine.cs#L249

[2017-06-06 00:16] #205 closed

[2017-06-06 00:36] conniey commented on #261
There are checkboxes so you can hide columns (under "Hide columns:") if they are cumbersome to look at. I hope this fixes your issue.

![image](https://cloud.githubusercontent.com/assets/10136526/26808940/888f8362-4a15-11e7-8395-f7f20bb9cfb6.png)

[2017-06-06 20:33] #402 closed

[2017-06-06 22:35] #359 closed

[2017-06-06 23:06] conniey opened #439 "Fix VSIX running on VS2015"
Due to #430 's addition of CPS references, the current solution does not work on VS2015 and throws runtime errors.

[2017-06-08 14:18] #439 closed

[2017-06-08 17:26] conniey commented on #397
@scottsauber Hey, I've finished that feature, and have fixed how we locate the assembly. Let me know if it this works for you. :) http://vsixgallery.com/extension/55d15546-28ca-40dc-af23-dfa503e9c5fe/

[2017-06-08 18:43] scottsauber commented on #397
@conniey  - Yep it worked!  Awesome work!  I got the PDB error that you mentioned in #430.  But I added DebugType Full to my csproj and it worked!

The only weird thing is I'm targeting the ASP.NET Core "current" train on Full Framework v4.6.1.  When I check 4.6.1 to be analyzed in the Portability Analyzer Settings, it tells me a bunch of things related to `Microsoft.Extensions.Logging` and `Micro

[2017-06-08 21:29] conniey commented on #397
@scottsauber Thanks for testing it out! I was able to publish the latest bits on the VS Marketplace. :)

Ahh, this is expected behaviour, unfortunately. The reason you're seeing this behaviour is because the API catalog we currently analyze against only contains binaries shipped by the .NET Framework team (in the dotnet/corefx) repository.  The binaries `Microsoft.Extensions.*` are considered plat

[2017-06-09 17:33] scottsauber commented on #397
Ahhh that's what Platform Extensions means.  Gotcha - thanks.  Did the .NET Standard 2 + Platform Extensions and all my compat issues went away.

Thanks!

[2017-06-14 01:36] conniey commented on #427
Hey @twsouthwick ,

I tried adding this on the server-side, and got these targets.  Is this too wordy? Should I place it next to our ApiPort.exe drops instead?

[code]

[2017-06-15 16:31] twsouthwick commented on #427
Can you share the `targetMap.xml` you're using?

[2017-06-15 18:20] conniey commented on #427
<ApiTool>
  <Targets>

[code]

[2017-06-15 19:55] twsouthwick commented on #427
Try just using the name (I don't think version is needed):

[code]

[2017-06-15 20:16] conniey commented on #427
Nice! It works.

[code]

[2017-06-23 22:46] conniey opened #443 "Service fails to generate Excel spreadsheet when too many target platforms are selected"
**Repro Steps**
1. Select a lot of targets for analysis
2. Select Excel output format

**Expected:**
Does not allow you to choose too many targets or submits a warning in the console application.

**Actual:**
Service fails with "Only 26 colums supported overall!!"
[code]

[2017-06-27 11:52] mikes-gh opened #445 "Apis that are now supported"
I believe the following are now supported (and probably others) in netstandard2.0

See https://github.com/dotnet/corefx/issues/12887

However the tool says Not Supported in my project for the following.

M:System.Data.SqlClient.SqlBulkCopy.WriteToServer(System.Data.DataTable)
M:System.Data.SqlClient.SqlDataAdapter.#ctor(System.String,System.Data.SqlClient.SqlConnection)
T:System.Data.SqlClient.Sql

[2017-06-27 17:56] #401 closed

[2017-06-28 07:30] conniey commented on #445
@terrajobst Immo, these are listed as under netcoreapp in ApiCatalog, but the [latest System.Data.Sql NuGet package](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.SqlClient/4.5.0-preview2-25319-04) and that issue suggest that it should be in .NET Standard 2.0.  Is this an error in the catalog?

[2017-06-28 07:32] #443 closed

[2017-06-28 08:09] GKotfis opened #447 "Vsix installation failed with error: The extenstion manifest is invalid"
Version: NET Portability Analyzer v1.4.0.186.vsix

![image](https://user-images.githubusercontent.com/7391978/27626807-bf0d274c-5be9-11e7-9592-80144c12acae.png)

Extenstion was downloaded from Microsoft Marketplace [https://marketplace.visualstudio.com/items?itemNa
me=ConnieYau.NETPortabilityAnalyzer](url)

[2017-06-28 08:12] conniey commented on #447
I just downloaded and installed the extension from the marketplace and did not get the same error.  What versions of Visual Studio do you have installed on your machine?

Cheers,
Connie

[2017-06-28 08:17] GKotfis commented on #447
Two version:
VS2015 Professional 14.0.25431.01 Update 3
VS2017 Community 15.0.0+26228,9

Regards Grzegorz

[2017-06-28 20:09] conniey commented on #447
I created a machine with both versions of Visual Studio but was unable to reproduce the issue and it installed correctly.  I found something similar on StackOverflow.  Can you try this solution? https://stackoverflow.com/a/33501473/4220757

Cheers,
Connie

[2017-06-29 06:16] #390 closed

[2017-06-29 18:05] GKotfis commented on #447
Problem was with wrong default app for vsix files - I have "Visual studio selector". After changing to Microsoft VSIX Installer everything works. Thank you.

[2017-06-29 18:05] #447 closed

[2017-06-29 20:36] #32 closed

[2017-07-06 21:38] conniey commented on #101
No feedback. Will close unless requested.

[2017-07-06 21:38] #101 closed

[2017-07-06 21:39] conniey commented on #175
Confirm that this is a bug still.

[2017-07-10 18:37] alinapopa commented on #175
The issue no longer reproduces.

[2017-07-10 18:37] #175 closed

[2017-07-11 07:46] kvshripad commented on #384
Thanks Pabloarista! This still seems to be reported as false positive though. Any hint when can we start relying on third party assemblies portability (at list most used ones)?

[2017-07-11 17:08] #250 closed

[2017-07-11 17:59] rogancarr opened #449 "Add an alias for the current release on the Releases page"
The current [releases page](https://github.com/Microsoft/dotnet-apiport/releases) has a list of all the available builds. However, there is no alias to the "current" version. This makes it difficult to script installs because someone has to manually check the releases and update the script.

My use case: I am writing a script for [Apache REEF](reef.apache.org) to measure the number of CoreCLR issu

[2017-07-11 17:59] conniey commented on #384
@kvshripad, We have this on our backlog to complete but there is no milestone for when this would be integrated. A page you can check out which may have what you are looking for is: https://icanhasdot.net/

[2017-07-12 08:13] aszego opened #450 "Feature request: API Port should scan installed nuget packages"
It'd be nice if API Port could include in a report what nugget packages satisfy portability, eventually with an update if available.

e.g. I want to check portability to .NET Standard 2.0, so it'd scan installed nuget packages and check if all of them support .NET Standard 2.0.

Thanks!

[2017-07-13 17:35] conniey commented on #450
Thanks for suggesting this feature! It would definitely be helpful to end users.

[2017-07-13 17:40] conniey opened #451 "Sending requests to service not using gzip/deflate encoding results in 500"
If you write your own HttpClient to send requests to our service and it does not use gzip, it will throw an exception and you'll get a 500 response back.

**Expected**
Maybe a new exception being thrown back like `InvalidHttpClientEncoding` which derives from PortabilityException.

**Actual**
The user gets a 500 for unknown server error.

Message: `Unknown encoding type: <encoding>. Only supports

[2017-07-18 17:52] rogancarr commented on #449
Here is the CLR compatibility script we use in the build of Apache REEF for anyone who wants to do something similar: https://github.com/apache/reef/blob/master/bin/AnalyzeClrCompatibility.ps1

[2017-07-19 20:58] #42 closed

[2017-07-20 00:26] rogancarr opened #455 "Incompatibilities with Type are propagated to TypeInfo"
`Type.Assembly` is not supported by `".NET Core + Platform Extensions,Version=v1.0"`. The recommended fix is `".GetTypeInfo().Assembly."`

When this fix is implemented, the ApiPort application still reports an issue on ` "M:System.Type.get_Assembly"`.

Here's a reproduction with a simple command-line file.

0. Check your `dotnet` version
- `dotnet --version`
(for the repro, this is `2.0.0-preview2

[2017-07-20 05:06] conniey commented on #455
Hey,

This is a known limitation of our catalog and is a false positive.  It is because of TypeInfo inherits from Type in the full .NET Framework and so the methods are seen as from Type but TypeInfo is not architected the same in .NET Core.  See #113 for more information.

[2017-07-20 22:49] rogancarr commented on #455
Hi @conniey ! Thanks for the pointer!

[2017-07-21 09:37] tioduke commented on #431
Thank you

[2017-07-22 00:42] terrajobst opened #456 "API Port doesn't report unavailable API"
### Repro

[code]

### Expected Results

APIs that `System.Data.DataSetExtensions.dll` depends on but are unavailable should be flagged. For instance, this is an internal API that is only available in .NET Framework and doesn't exist in .NET Standard:

[code]

### Actual Results

The report reports no missing APIs. That's incorrect.

[2017-07-27 15:06] twsouthwick opened #457 "Add command to analyze .NET Framework application for .NET Core portability"
With .NET Core 2.0 supporting .NET Framework applications via compatibility shims (https://github.com/dotnet/standard/tree/master/docs/netstandard-20), it would be nice for ApiPort to provide an easy option to analyze that aspect of portability.

[2017-07-31 17:35] #455 closed

[2017-08-01 01:06] chlowell commented on #456
This is by design. The portability service reports the availability of only our APIs. "Our APIs" are the APIs in the catalog (see [`AnalysisEngine.FindMembersNotInTargets`](https://github.com/Microsoft/dotnet-apiport/blob/master/src/Microsoft.Fx.Portability/Analysis/AnalysisEngine.cs#L133)). The API in question is not in the catalog because it's internal.

[2017-08-05 00:06] brentschmaltz opened #460 "Spelling error in: 165: AesCrytpServiceProvider decryptor provides a reusable transform"
AesCrytpServiceProvider is misspelled.
it should be: AesCryptoServiceProvier.

[2017-08-10 19:21] terrajobst commented on #456
@chlowell

Hmm, I guess that makes sense. It just means we cannot use API Port for any of the .NET Framework binaries to understand how portable they are. Bummer. /cc @weshaggard

[2017-08-10 19:21] #456 closed

[2017-08-10 19:32] weshaggard commented on #456
@chlowell I though the design was to report all missing APIs and if folks want API's that are part of their binaries to not show  up then they needed to add those binaries to the list of analyzed binaries.

The current approach seems like it will give a lot of folks a false sense of portability.

[2017-08-10 20:09] terrajobst commented on #456
Yes, but the problem is nobody ever has a full set. For instance, most folks will not provide a directory for the framework either. So I don't think we can rely on resolution.

[2017-08-11 05:25] conniey commented on #449
Hi,
The latest release you can access by going to https://github.com/Microsoft/dotnet-apiport/releases/latest now.

Thanks!
Connie

[2017-08-11 05:25] #449 closed

[2017-08-15 03:39] eschneider999 opened #463 "claims System.Reflection.TypeInfo.get_BaseType not supported in 4.6.1-4.7 when it is"
It's saying the following is not supported in 4.6.1 - 4.7

**System.Reflection.TypeInfo.get_BaseType**

But it is supported...

[](https://msdn.microsoft.com/en-us/library/system.type.basetype(v=vs.110).aspx)

[2017-08-30 21:35] conniey commented on #463
This is a duplicate of https://github.com/Microsoft/dotnet-apiport/issues/113.

[2017-08-30 21:35] #463 closed

[2017-08-31 17:47] #460 closed

[2017-09-11 14:32] oising opened #471 ""unknown error" and missing "system.collection.immutable" when analyzing net45 project"
I get this in the visual studio 2017.3 tool window:

I'm not using s.c.immutable in the target project, so I'm not sure what this is about.

[code]

[2017-09-12 22:11] #471 closed

[2017-09-12 22:29] alinapopa commented on #471
@oising This is because the VS extension was using a higher version of System.Collections.Immutable than the one that Visual Studio uses (version 1.2.1 was needed for VS 2017). PR #473 addresses this issue.
Thanks for reporting this bug!

[2017-09-16 00:59] alinapopa opened #478 "Visual Studio extension fails to load"
VSIX fails to load on both VS2015 and VS2017.
The bug was introduced with PR #475

CreateInstance failed for package [ApiPortVSPackage]Source: 'mscorlib' Description: Could not load file or assembly 'ApiPort.VisualStudio, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4a286c3e845c3e69' or one of its dependencies. The system cannot find the file specified. System.IO.FileNotFoundException: Could n

[2017-09-16 14:40] twsouthwick commented on #478
Yup - I'm looking into it

[2017-09-18 05:34] mjsabby opened #479 "An unexpected error was encountered while parsing the metadata for the PE file"

[2017-09-18 05:35] mjsabby commented on #479
Something has changed recently that broke this, I'm not sure what it is yet but ApiPort worked fine for us a few months ago.

[2017-09-18 15:37] #478 closed

[2017-09-18 15:41] twsouthwick commented on #479
Can you share details of how you're running this?

- Are you using the VS extension or cli?
- Are you building it yourself or downloading it?
- Version of tool (if downloaded, or git hash if built yourself)

[2017-09-18 15:45] conniey commented on #479
From the output,
[code]
it looks like the tool is being run in offline mode. @alinapopa was looking into fixing an issue in Offline mode?

[2017-09-18 17:41] mjsabby commented on #479
I've verified that this commit a79478eb9715b3a9fa842e939cee892d93ab37ab works fine and HEAD does not.

I built the tool myself and ran it in offline mode.

The reason I picked this commit was that the exception was coming from ComputeData which was changed after this commit.

Exception:

[2017-09-18 19:12] alinapopa commented on #479
@conniey I get an error when running ApiPort in Offline mode but it's different - it fails right at the beginning due to not loading the right version of some dependencies. It's fixed with #481 .
The error @mjsabby gets is something else. Looks like it's failing at https://github.com/Microsoft/dotnet-apiport/blob/master/src/Microsoft.Fx.Portability.MetadataReader/DependencyFinderEngineHelper.cs#L8

[2017-09-18 20:52] twsouthwick commented on #479
@mjsabby if the error @alinapopa is the right one, it implies we can't determine what assembly `System.Object` is located in. Is the assembly you're analyzing available for us to attempt a repro?

[2017-09-18 22:32] twsouthwick commented on #394
@emmanuelmathot have you been able to try it on a newer mono version? Many of Mono 4.x had compression APIs that just throw exceptions...

[2017-09-19 19:03] oising opened #484 "Unclear how to test ASP.NET Core 2.0 compatibility"
I only see a checkbox for 1.0 -- am I missing something, or is this not supported. Perhaps it's rolled into .NET Core 2.0? *insert grumbling about confusing nomenclature*

[2017-09-20 00:35] conniey commented on #484
Hey, I would suggest using the targets ".NET Core, Version=2.0" and "ASP.NET Core" then filtering out columns to only include the "Not supported" in both targets.

ASP.NET Core introduces namespace changes to Microsoft.AspNetCore.*, so you will get a lot of false negatives in terms of compatibility with ASP.NET Core.  [Reverse Package Search](packagesearch.azurewebsites.net) is a good site to use

[2017-09-20 15:04] oising commented on #484
Thanks @conniey - now excuse me while I read that about twenty times 😆

[2017-09-20 23:22] danmosemsft opened #489 "considers Newtonsoft.Json to be available on Core, but not on Desktop."
I ran it on the desktop version of the dll in this package:
https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/5.2.3

It says it's 100% compatible with .NET Standard and .NET Core - which is great. But it says it's only 89.7% compatible with .NET Framework. Which makes no sense as it's a .NET Framework asset.

It looks like it considers Newtonsoft.Json to be available on Core, but not o

[2017-09-21 20:16] alinapopa opened #491 "Visual Studio extension for VS2015 fails with MissingMethodException"
Exception is occurring when trying to perform analysis using VS2015
[code]

[2017-09-22 21:40] martinstenhoff commented on #450
Is this now supposed to be working? Scott Hunter's .NET Conf 2017 Keynote demo (7:30) suggests it is as he installed a nuget package not built for .NET Standard 2.0 and then ran the portability analyser to verify that the project was compliant with .Net Standard 2.0.

[2017-10-04 00:12] trinaldi opened #494 "build.sh returns no output on Linux"
Following the `README.md`, I cloned the repo and ran `./build.sh`, but nothing - not even an error message - shows up.

I'm running Ubuntu 17.04.
[code]

[code]

If i'm missing something, please let me know.

[2017-10-04 04:24] ustcltx commented on #489
![image](https://user-images.githubusercontent.com/6998333/31159819-5e80b706-a8fe-11e7-9876-1c70150cffaa.png)
I have the same problem.

[2017-10-05 11:55] moh-hassan opened #496 "Add command to analyze .Net Standard 2 library against the missing of not implemented api by net461"
After the final release of .netstandard2, there are about 43 API not supported by .NET Framework 461 as shown in this [discussion  ](https://github.com/dotnet/standard/issues/133)
Using  a .netstandard2 library which use these APIs from within net461 projects, will raise an exception "not supported platform"
It's nice if ApiPort can help in warning for using these APIs in net461 projects.

[2017-10-16 13:45] ninjaboy commented on #479
Same problem here.
It although shows the following:
Detecting assembly references                     [Failed]

An unexpected error was encountered while parsing the metadata for the PE file located at Debug/Owin.dll.

Microsoft.Fx.Portability.PortabilityAnalyzerException: Cannot locate assembly info for System.Object
   at Microsoft.Fx.Portability.Analyzer.DependencyFinderEngineHelper.ComputeData

[2017-10-16 21:28] twsouthwick commented on #479
Thanks @ninjaboy for reporting as well. Is `Owin.dll` available for us to debug with?

[2017-10-17 11:05] ninjaboy commented on #479
Install-Package Owin -Version 1.0.0

I think the issue reproduces when I specify folder as an input for analyze. Doesn't reproduce when the specific file is passed as input for analysis

[2017-10-24 15:08] IrisClasson commented on #479
I get the same error. The previous release works fine.

[2017-10-25 16:58] conniey commented on #479
@twsouthwick I suspect it has something to do with the logic we added here: https://github.com/Microsoft/dotnet-apiport/blob/dev/src/Microsoft.Fx.Portability.MetadataReader/DependencyFinderEngineHelper.cs#L68

Do you have time to look at it? If not, I can check it out later today or tomorrow.

[2017-11-01 09:58] JamesWatton opened #500 "Installing to VS2015 while VS2013 installed along-side causes VS2013 to crash"
This extension is not supported in 2013, but I have both 2013 and 2015 installed side-by-side. I installed it and ran it successfully on VS2015.

After returning to VS2013, my studio crashes repeatedly on startup with an Unhandled .Net Framework Exception in devenv.exe (Buffer cannot be null).

I tried uninstalling this extension from VS2015, removing and resetting VS2013, starting in SafeMode etc

[2017-11-01 15:16] JamesWatton commented on #500
Turns out I'm not the only one having this issue, appears related to visual studio and windows updates rather than this extension

[2017-11-01 15:16] #500 closed

[2017-11-09 00:39] #479 closed

[2017-11-14 16:19] omajid opened #503 "build.sh fails to download catalog.bin"
Running `./build.sh` fails for me

    $ ./build.sh
    /usr/bin/dotnet exists.  Skipping install...
      Restore completed in 46.17 ms for /home/omajid/devel/dotnet-apiport/samples/SearchFxApi/SearchFxApi.csproj.
      Restore completed in 46.54 ms for /home/omajid/devel/dotnet-apiport/src/ApiPort.Vsix/ApiPort.Vsix.csproj.
      Restore completed in 46.12 ms for /home/omajid/devel/dotnet-apiport

[2017-11-14 23:26] #503 closed

[2017-11-15 00:04] omajid commented on #503
Thanks for the quick fix!

[2017-11-16 18:00] rafael-teixeira commented on #479
Hello,

It seems that the issue still persist, but for other reason now.

[code]

I verified the source code and the issue is taking place in the line below

C:\Sources\Repos\dotnet-apiport\src\Microsoft.Fx.Portability.MetadataReader\DependencyFinderEngineHelper.cs:213

`
var matchingAssembly = microsoftAssemblies.SingleOrDefault(x => s_systemObjectAssemblies.Contains(x.Name));`

microsoftAssembli

[2017-11-16 18:20] conniey commented on #479
@rafael-teixeira Can you create a new issue for this? It is different than what this issue is. Also, can you provide a repro for this? I'm not sure how it is possible that you can reference both versions of mscorlib from a single assembly.

[2017-11-17 11:12] rafael-teixeira commented on #479
@conniey, yes for sure. I'll do it. Thanks!

[2017-11-17 18:06] rafael-teixeira opened #512 "An unexpected error was encountered while parsing the metadata for the PE file [System.InvalidOperationException: Sequence contains more than one matching element]"
Hello,

I am facing the issue below when try to analyze one assembly.

[code]

I verified the source code and the issue is taking place in the line below

[code]

microsoftAssemblies collection has duplicated assembly names that causes exception on SingleOrDefault() method as below:
[code]

[2017-11-17 23:34] conniey commented on #512
Can you attach the binary that is causing the issue?

[2017-11-20 11:34] rjvdboon opened #515 "init.ps1 downloads the catalog to catalog1.bin instead of catalog.bin"
I ran build.cmd from a clean clone of apiport on windows 7 with VS2017.

During build it emitted the warning on ApiPort.Offline that catalog.bin was missing. Which I only found out about when searching for the reason why the apiport offline CLI failed to run.
This is due to init.ps1 downloading to .data/catalog1.bin instead of .data/catalog.bin.
Note that build.sh *does* download to .data/catalog.

[2017-11-20 11:37] rjvdboon opened #516 "Console readme.md is out of date"
The file docs/Console/README.md is out of date

- [x] the build command has changed. It suggests msbuild, whereas running build.cmd / build.sh should be used.
- [x] the build proxy setting script is gone (and maybe not necessary anymore)
- [x] the location of build outputs is different
- [x] the link to the privacy policy doesn't resolve (misses CLI)
- [x] the breaking changes "look here" doesn't

[2017-11-20 11:41] rjvdboon opened #517 "ApiPort.Offline error message provides no clue on how to fix"
Due to #515 my build of the ApiPort.Offline didn't have a catalog.bin in the build directory. When trying to run the resulting ApiPort.Offline I got the following errors
[code]
If the error message would have said "can't load catalog.bin" it would have been immediately obvious what was missing, and contacting apiport@microsoft.com would either not be necessary, or would make it a lot easier to fix

[2017-11-20 16:40] twsouthwick commented on #516
Thanks, @rjvdboon  I'll take a look at that.

[2017-11-20 17:46] twsouthwick commented on #512
Looks like this can occur when some dependent assembly will be referencing a different version of mscorlib. For instance:

- Assembly1, mscorlib 4.0.0.0
- Assembly2, mscorlib 2.0.0.0
- Assembly1 references Assembly2

For now, we can just default to the latest version (since that's the default binding redirects will do). This may represent a larger issue where we don't actually resolve anything, so

[2017-11-20 17:46] #515 closed

[2017-11-20 18:22] #516 closed

[2017-11-20 18:22] #517 closed

[2017-11-20 20:14] rjvdboon commented on #512
I was about to file the same issue. I've seen two reasons for this:
- in a .Net 4 project reference a PCL (gives me mscorlib 4.0.0.0 and 2.0.5.0)
- in a .Net 4 project reference a .Net 2 library (gives me mscorlib 4.0.0.0 and 2.0.0.0)

In a private build of apiport I replaced the `SingleOrDefault(x => ...)` by `Where(x => ...).OrderByDescending(x => x.Version).FirstOrDefault()`

[2017-11-20 20:17] rjvdboon commented on #512
In my solution the binding redirects also cause issues. Not sure if it really impacts the analysis, but it does cause warnings.

[2017-11-20 20:31] twsouthwick commented on #512
@rjvdboon I've been trying to produce a repro of this and can't. What version of VS are you building with?

[2017-11-20 20:44] rjvdboon commented on #156
According to http://www.mono-project.com/download/#download-win the current mono release is 5.4.1.6. The current cadence seems to be a new mono release every 2 months.
And with each release they are improving .Net standard 2.0 compatibility and conformance to .net 4.7.x.

[2017-11-20 20:55] rjvdboon commented on #512
I've been building with VS2013. The binaries I've tested against were probably built using direct csc.exe invocations. (We've got a convoluted build script involving csc /noconfig /nodefaultlibs etc.) I'll see if I can construct a minimal repro when I'm back at work.

[2017-11-20 21:20] rjvdboon commented on #512
No full repro steps yet, but it seems to be caused at least by the use of Autofac 3.5.2.0 (Profile328). Referencing anything from that version should cause the issue, I think.

[2017-11-21 15:00] rjvdboon commented on #512
See attached zip for a repro case. Build with Visual Studio 2013. It is a solution with two projects: a PCL library (profile328) and a consuming exe. The exe will have 2 mscorlib references (of which 1 is retargetable).
[repro.zip](https://github.com/Microsoft/dotnet-apiport/files/1491797/repro.zip)

[2017-11-21 17:37] twsouthwick commented on #512
I don't have VS 2013 installed at the moment. I'll see if I can do that. In the meantime, can you share the exe and dll?

[2017-11-22 03:50] conniey commented on #496
@twsouthwick Is this related to #457?

[2017-11-27 16:06] twsouthwick commented on #496
Yeah, this would fix that. For now, I would expect running the library against the .NET 4.6.1 framework would give the desired results

[2017-11-27 17:34] twsouthwick commented on #512
I got a VM set up with VS 2013 and have a repro. I should have a fix ready soon.

[2017-11-27 21:04] #512 closed

[2017-11-28 21:10] jeremymeng opened #527 "Distribute apiport command-line tool via Windows App Store"
so we get the benefit of secure update delivery mechanism.

[2017-11-29 01:10] shalinparmar opened #528 "Unable to contact service error."
After installing the ,NET Portability Anaylzer extension in VS 2017, I see the error:

Unable to contact service. Try again later.

And hence unable to use the utility. Can someone please shed light on what am I missing?

[2017-11-29 09:13] conniey opened #529 "Localized strings in VSIX show locale information"
**Repro Steps**
- Set computer locale to en-CA
- Fetch dev or master branch from dotnet-apiport
- Debug ApiPort.Vsix
- Right-click on project -> Analyze Project Portability

**Actual**
![image](https://user-images.githubusercontent.com/10136526/33367125-4a7bc136-d4a2-11e7-87ad-ab51a4938d91.png)

**Expected**
Expect the strings without the language information in front (ie. en-CA is not there anymo

[2017-11-29 09:14] conniey commented on #529
@chlowell I think this may be attributed to your latest changes for localisation

[2017-11-29 09:18] conniey opened #530 "Cannot analyze using VSIX. FNFException NuGet.VisualStudio"
**Repro Steps**
1. Fetch latest changes from master/dev
1. Start debugging ApiPort.Vsix
1. Right-click project -> Analyze Project Portability

**Expected**
It should analyse the assembly.

**Actual**
[code]

[2017-11-29 09:27] conniey commented on #528
Can you provide some repro steps? I know the service was down recently but I installed the VSIX again, tried it out and it appears to be working fine for me.

[2017-11-29 19:40] shalinparmar commented on #528
Well, I installed the VS Extension for Portability Analyzer and can't seem to connect to whatever service it is trying to call. When I click "Portability Analyzer Settings" I see "Unable to contact service. Try again Later" error and nothing in Output formats or Target Platforms.

[2017-11-29 22:06] conniey commented on #528
Are you behind a proxy? We had fixed this issue #396 for the console application but did not for the VSIX, yet.

@twsouthwick are there any other ways we can debug this issue?

[2017-11-29 22:08] shalinparmar commented on #528
Yes I am but it is correct and works with everything else except this one. What service is it trying to access?? Do we have a URL to check that proxy is not the cause?

Thanks!
Shalin

________________________________
From: Connie Yau <notifications@github.com>
Sent: Thursday, November 30, 2017 11:06:17 AM
To: Microsoft/dotnet-apiport
Cc: shalinparmar; Author
Subject: Re: [Microsoft/dotnet-apiport

[2017-11-29 22:34] conniey commented on #528
Hey,
The URI that the VSIX tries to reach is https://portability.dot.net/ (seen here in [ServiceProvider.cs](https://github.com/Microsoft/dotnet-apiport/blob/dev/src/ApiPort.VisualStudio/ServiceProvider.cs#L30)). It makes calls to:
* https://portability.dot.net/api/target to get the target information
* https://portability.dot.net/api/resultFormat to get the supported result formats and
* https://

[2017-11-30 18:06] twsouthwick commented on #528
I think I've got a fix - I'll get a PR up soon for it

[2017-11-30 18:07] twsouthwick commented on #530
Weird - these are supposed to be embedded interop and shouldn't actually be trying to load them. Should check the build to make sure it's doing that

[2017-11-30 20:21] #528 closed

[2017-11-30 21:42] twsouthwick commented on #529
Do you see this in the console app as well?

[2017-12-01 19:34] chlowell commented on #529
Good catch, we were concating the current culture.

[2017-12-05 02:28] redec opened #533 "Context menus missing in VS2015"
I just installed this into VS2015 and the context menus are missing?  the main menu items are there but it seems there should be context menu items on projects/solutions?  Anyone have any idea how to fix that?

[2017-12-05 05:11] redec commented on #533
FYI I ran a /repair on VS Update 3, and now they show up...so I guess never mind :)

[2017-12-05 05:11] #533 closed

[2017-12-05 18:29] twsouthwick commented on #529
@chlowell can this be closed?

[2017-12-05 18:48] chlowell commented on #529
Yes, surprised GitHub didn't do it when #532 merged.

[2017-12-05 20:38] twsouthwick commented on #529
Maybe, but i'd still expect it to close.

[2017-12-05 20:38] #529 closed

[2017-12-05 23:34] #530 closed

[2018-01-12 16:44] Jalonso91 opened #545 "dotnetportability.blob.core.windows.net is down :("
**"dotnetportability.blob.core.windows.net"**  is down :(

We try install apiport on ubuntu and throw this error:

Downloading catalog.bin...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0curl: (6) Could not re

[2018-01-12 16:58] conniey commented on #545
Fixed in #544 . We removed that storage location... the correct one is: https://portability.blob.core.windows.net/catalog/catalog.bin

[2018-01-12 17:56] #545 closed

[2018-01-13 01:26] DanielCaspers commented on #434
Hey @conniey, I am seeing this same issue. Would it be best for me to open a new ticket? I am able to successfully work around it when I don't use HTML report generation.

I don't want to go through making a sample, but I would welcome cloning my repository where I am experiencing the issue if it would help.

VS Community 2017
.NET Portability Analyzer 1.4.0.199
Windows 10 x64

[2018-01-13 03:23] conniey commented on #434
@DanielCaspers Yeah, it would be awesome if you could point me to your repository so I can try to repro it. Did it work before? Just to make sure, when you use the VSIX extension, you cannot generate the HTML report but the Excel report works for yu.

[2018-01-13 03:58] DanielCaspers commented on #434
@conniey It's at DanielCaspers/DigitalInspection.

I had no prior experience with the portability analyzer before tonight, actually. Downloaded the VSIX from Nuget Package Manager, and tried generating both an Excel and HTML in the same pass, but it failed with HTML checked.

[2018-01-13 18:26] conniey opened #548 "HTML report generation is broken"
**Repro Steps**
Execute: `ApiPort.exe analyze -f ApiPort.exe -r HTML`
**Expected**
Generates HTML report
**Actual**
[code]
Original report: https://github.com/Microsoft/dotnet-apiport/issues/434#issuecomment-357398582

/cc: @DanielCaspers, @chlowell

[2018-01-13 18:27] conniey commented on #548
Updates to our HTML Generation with razor is resulting in some unresolved references.

[code]

[2018-01-16 14:01] aboulfad commented on #548
Hello,
I have the same issue, installed latest extension from within VS2017, choosing excel alone works, choosing HTML provides this error, repo **aboulfad/zgw_searchVS**. The error text is misleading as I have latest v1.4.0.199 of the tool. Thanks.

[2018-01-16 20:56] conniey commented on #548
@aboulfad It should be fixed now. I pushed an update to the service an hour ago.

[2018-01-21 16:31] vulcanlee opened #553 "Unable to analyze Bitmap portability for .NET Core 2.0 and .NET Standard 2.0"
My Visual Studio is 15.5.4
The Visual Studio extesion of .NET Portability Analyzer is version 1.4.0.199

I create a class library of .NET Framework 4.6.1 and only has following class:

[code]

When I use .NET Portability Analyzer to generate report which say .NET Core 2.0 and .NET Standard 2.0 is 100% portability, but the `Bitmap` class is not supported by .NET Core 2.0 and .NET Standard 2.0

Foll

[2018-01-21 17:10] conniey commented on #553
Thanks for reporting the issue with the catalog. System.Drawing.Bitmap should not be in the ".NET Core" or ".NET Standard" platform because you do not get it by default.

However, it does exist in ".NET Core + Platform Extensions" target because the .NET team has released support for it in [System.Drawing.Common](https://www.nuget.org/packages/System.Drawing.Common/4.5.0-preview1-25914-04).

[2018-01-21 17:45] vulcanlee commented on #553
@conniey

May I ask how long the bug will be corrected?

[2018-01-22 14:09] vulcanlee commented on #553
@conniey

What is the ".NET Core + Platform Extensions" and ".NET Standard + Platform Extensions"?

Where can I find more documentation on them?

[2018-01-23 02:14] windperson commented on #553
May be he is mentioning the "Windows Compatibility Pack"?
https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/

[2018-01-23 02:51] vulcanlee commented on #553
@windperson

Thanks for your answer.

[2018-01-23 05:23] conniey commented on #553
@vulcanlee
Unfortunately, there is no documentation for those platform targets.

The "+ Platform Extensions" targets were created by usimg the .NET compatibility pack and by through NuGet.org, finding Microsoft-owned packages that support .NETStandard, 2.0 or .NETCore, 2.0 and manually adding them to the target.

Consequently, you'll see Microsoft Azure SDK and NuGet SDK supported by those two tar

[2018-01-25 22:27] #548 closed

[2018-01-26 07:17] conniey commented on #494
@trinaldi Hi. I apologise for the delay. Our tool has only been tested on 16.04 and 14.04. I was trying out your scenario and .NET Core 1.0 SDK is not supported on 17.04, so you would be unable to run the tests as well.

A workaround would be to modify `src/ApiPort/ApiPort.csproj` to support `netcoreapp2.0` rather than netcoreapp1.0, then do a dotnet restore and dotnet build on it.

[2018-01-26 10:44] trinaldi commented on #494
Thanks, @conniey .

Maybe it's time to update the tests or create a .NET Core 2.0 SDK branch!

Again, thanks for your reply. I'll try this workaround.

[2018-01-26 13:09] springy76 opened #556 "wrong System.Threading.Tasks.ValueTask`1 warning"
Tells me it's not available on 4.7.1

[2018-01-26 13:12] springy76 opened #557 "wrong System.Runtime.CompilerServices.IsReadOnlyAttribute warning"
Tells me not supported on netstandard2.

Gets inserted automatically by the compiler by using `readonly struct` and compiles fine on libs targetting netstandard2.0.

[2018-01-26 13:27] springy76 opened #558 "lower percentage for net471 than for netstandard2.0"
As `net471` claims to be 100.0% compatible with `netstandard2.0` how can **ANY** api be RED for `net471` and GREEN for `netstandard2.0`?

I have a lib targetting `net471` (and compiling fine) which gets reported 100.00 % against `netstandard2.0` and 98.12 % against `net471`.

Please check and suppress that entirely, this makes no sense at all.

And I don't understand why external NuGet packages ar

[2018-01-27 21:56] conniey commented on #494
@trinaldi I submitted a PR yesterday, it should be fixed in dev and master now. Let me know if it's unsuccessful for you. I tried it in Ubuntu 17.04 and 17.10.

[2018-01-27 21:59] conniey commented on #556
@springy76
Hey, our catalog data is from: https://apisof.net/catalog/System.Threading.Tasks.ValueTask%3CTResult%3E.

@weshaggard Is this a problem with the catalog?

[2018-01-27 22:14] conniey commented on #556
Looking more into this, I don't think it is a problem with the catalog.
`ValueTask<T>` comes from the System.Threading.Tasks.Extensions NuGet package.  The target .NET 4.7.1 only includes APIs that are available when you have a .NET 4.7.1 project.  It does not include NuGet packages that also support .NET 4.7.1.

[2018-01-27 22:20] conniey commented on #557
@springy76 This is correct. It is not available as part of the .NET Standard 2.0 surface area.  Support:
* [apisof.net](https://apisof.net/catalog/System.Runtime.CompilerServices.IsReadOnlyAttribute)
* [docs.microsoft.com](https://docs.microsoft.com/en-ca/dotnet/api/system.runtime.compilerservices.isreadonlyattribute?view=netframework-4.7.1#Applies_to)

[2018-01-27 22:20] #557 closed

[2018-01-28 00:06] #556 closed

[2018-01-29 17:25] conniey commented on #553
@vulcanlee This should be fixed now. Things like `System.Drawing.Bitmap` should output the same supported targets as apisof.net.

* [apisof.net](https://apisof.net/catalog/System.Drawing.Bitmap)
* [ApiPort](https://portability.dot.net/api/fxapi?docId=T%3ASystem.Drawing.Bitmap)

[2018-01-29 17:25] #553 closed

[2018-01-29 17:46] conniey commented on #558
@springy76 Hey,

Similar to #556, APIs like [System.Runtime.CompilerServices.AsyncValueTaskMethodBuilder](https://apisof.net/catalog/System.Runtime.CompilerServices.AsyncValueTaskMethodBuilder%3CTResult%3E) are made available through the NuGet package, System.Threading.Tasks.Extensions and is not available in a vanilla .NET 4.7.1 project.

The reason for [Newtonsoft.Json](https://apisof.net/catalo

[2018-01-29 17:46] #558 closed

[2018-01-29 17:52] vulcanlee commented on #553
@conniey

I have tested my issue, this problem has fully solved, thanks for your help.

[2018-01-31 16:28] lestephane opened #568 "How to generate an api report as part of a Hosted VS2017 VSTS build definition?"
Generating reports of compatibility problems as part of my CI pipeline would help me a lot
estimate a porting effort when working on a legacy project. But I'm not sure how to do that
seeing how the tools 'entry points' are within Visual Studio, using right-clicks on the project.

Is there a trick i'm not aware of?

[2018-01-31 16:45] lestephane commented on #568
I've found a links that explains [how to use the command line version of the portability analyzer](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portability-analyzer#how-to-use-portability-analyzer). I'm going to check whether it's available on Hosted VS2017 VSTS build agents, and report

[2018-02-12 18:07] ericstj opened #571 "APIPort flags API as missing when override is missing"
For example: DirectoryInfo.FullName.

On desktop this is:
[code]

On .NETCore this is:
[code]

APIPort reports DirectoryInfo.FullName as missing but it is not.

[2018-02-18 15:39] glennblock opened #572 "Have apiport allow passing a package name / version and have it automatically pull it down to analyze it and its dependencies"
Currently I can point apiport to a project and a directory. It would be helpful to also be able to give it a package name / version (and source) and have it go and pull down the package and analyze it and its dependencies.

This would be useful when trying to determine quickly if a package is compatible.

[2018-02-21 12:44] dhcgn opened #573 "Broken link to LicenseTerms on marketplace.visualstudio.com"
See: https://marketplace.visualstudio.com/items?itemName=ConnieYau.NETPortabilityAnalyzer

The link https://github.com/Microsoft/dotnet-apiport/blob/master/docs/LicenseTerms/Microsoft%20.NET%20Portability%20Analyzer%20Privacy%20Statement.txt is broken, you will get a 404.

[2018-02-22 16:59] glennblock opened #574 "Make apiport available in brew/chocolatey/apt-get/yum"

[2018-02-26 19:33] gep13 commented on #574
We, the Chocolatey Team, are happy to help with any questions in getting this done.  @glennblock thanks for raising the issue.  /cc @ferventcoder

[2018-03-02 21:59] twsouthwick commented on #574
Thanks for the suggestion - this would make it nice to consume. I've started looking into what it would take to generate packages.

@gep13 For chocolatey, is it best practice to have the package download a zip from somewhere or to include the whole app in the chocolatey package itself?

For other packages, it'll take some time to figure out how to best make them work as no one on this project has

[2018-03-03 11:05] gep13 commented on #574
@twsouthwick both available are perfectly acceptable.  In terms of creating the most resilient package (i.e. one that will always work, rather than being reliant on a download), embedding the installers/files into the Chocolatey Package would be the best option.  Assuming the license permits that type of distribution, that would be my recommendation.

[2018-03-03 11:07] gep13 commented on #574
@twsouthwick I wasn't directly involved in it's creation, but we (the Cake Team) created a Homebrew package for Cake.  You can find the formula that we created here:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/cake.rb

Depending on the complexity of the application, you might be able to use the above as a guide.

[2018-03-03 17:34] glennblock commented on #574
We created one for scriptcs as well. Basically the formula runs a build
script which should create the binaries and run unit tests. It will also
create a shell script to execute the command (dotnet apiport). One thing
for this to work is dotnet core needs to be a brew dependency.

Here is ours which depended on mono:
https://github.com/Homebrew/homebrew-core/blob/master/Formula/scriptcs.rb
On Sat,

[2018-03-07 11:46] santiaago opened #588 "Missing information in JSON report"
Version: `2.4.0-alpha.933`

When using APIPort to generate a JSON report I don't get the information I was expecting.

Build a hello world console application

[code]

## JSON report

When running the ApiPort to generate a JSON report:

[code]

I get the following content:

[code]

## HTML report

When running the ApiPort to generate an HTML report:

[code]

I get the following report

<img width=

[2018-03-07 15:37] conniey commented on #573
Hey @dhcgn! Thanks for noticing that. I fixed it and it should point you to the correct location now.

[2018-03-07 15:37] #573 closed

[2018-03-07 15:40] #494 closed

[2018-03-07 15:44] conniey commented on #568
Hi. I apologise for not getting back to you sooner.
Yes, the command-line tool may be your best option by having ApiPort.exe run the analysis command on your build output. If you use the JSON output, you could then compare it to your last build results, etc.

ie. `ApiPort.exe analyze -f Foo.dll -r JSON -t ".NET Standard,Version=2.0" -o Report1.json`

[2018-03-07 18:55] conniey commented on #588
Currently, the JSON format returns a JSON serialized version of [AnalyzeResponse](https://github.com/Microsoft/dotnet-apiport/blob/dev/src/lib/Microsoft.Fx.Portability/ObjectModel/AnalyzeResponse.cs).

What additional information would make this seem closer?
The one I can think of is:
* Adding a list of calling assemblies that use that API would be useful

[2018-03-07 19:35] santiaago commented on #588
In addition to that it would be great to have the same Portability Summary information.

* list of assemblies, with the percentage of each .net version (`.NET Core, Version=2.0`, `.NET Framework, Version=4.7.1` and `.NET Standard, Version=2`

[2018-03-19 09:18] screig opened #594 "There was an unknown error code from the service: 'Forbidden'. Please make sure you have the most up-to-date version."
[code]

![capture44](https://user-images.githubusercontent.com/4292074/37587237-abac09ba-2b56-11e8-9cab-4743cb3ffb40.PNG)
![capture45](https://user-images.githubusercontent.com/4292074/37587253-b99d2216-2b56-11e8-8e69-38f6948a3836.PNG)

[2018-03-21 17:21] conniey commented on #594
Sorry for the late response.. Forbidden is an interesting issue. If you try it again today, do you get the same response still?

We were doing some server side updates a few days ago. @twsouthwick . Do you know if there may have been any changes that would have resulted in that 403?

[2018-03-23 12:44] nmbro opened #596 "MSBuild 15.1 Issue unknown switch /bl"
https://github.com/Microsoft/dotnet-apiport/blob/8759eb488336d12bb1765ba30e0443da11c13073/build.ps1#L131

The binary logging switch is not implemented in MSBuild 15.1 which is a part of dotnet-sdk-2.1.10.101-win-x64

[2018-03-26 10:09] screig commented on #594
Still fails.
Also is it displaying the wrong version in the console. Look at nuget package i have installed.

[2018-03-29 15:11] #596 closed

[2018-04-05 13:30] JerkerPihl opened #600 "Object reference not set to an instance of an object"
Testing on an old solution with old projects (.NET 4.6.1 )

An unknown error occured.
System.NullReferenceException: Object reference not set to an instance of an object.
   at ApiPortVS.DefaultProjectBuilder.<GetBuildOutputFilesAsync>d__7.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Tas

[2018-04-05 13:32] JerkerPihl opened #601 "Object reference not set to an instance of an object."
Testing on solution with different projects (Net4.6.1 and Core 1.1)

Detecting assembly references                      [Done]
* Could not find file: 'C:\git\PRJ\PRJ\src\PRJ\bin\Release\net461\PRJ.dll'
* No files were found to upload.

Finding source line information
	PRJ.dll                                        [Done]

An unknown error occured.
System.NullReferenceException: Object reference

[2018-04-05 13:35] JerkerPihl opened #602 "Portability Analyzer ignores build flag?"
Some projects in a solution should not be analyzed(build) since they will break during the current setup and build will fail. Don't ignore build checkbox?

[2018-04-06 14:25] screig commented on #594
Can you help with this?
What address does it go to etc?

[2018-04-06 16:52] conniey commented on #594
All messages are sent to: https://portability.dot.net.
If you install Fiddler, you will be able to see where the messages are being directed to and where the 403 response is coming from.
IIRC, we had enabled a feature where the VSIX would use your default system proxy for the HTTP requests...

[2018-04-19 23:17] billwert opened #615 "Breaking Changes output should consider the assembly's target framework"
When running apiport with the -b flag on a binary targeting v4.5, I was told about v4.5 breaking changes. It would be useful if it only showed breaks after the TFM of the input binary. Having to specify it would be fine also.

This looks perhaps related to #119 but a different flavor.

[2018-04-23 21:29] CoolDadTx opened #620 "No warnings/errors generated when referencing external DLLs"
As was standard back in the safe/unsafe days of .NET I have a SafeNativeMethods class that P/Invokes to Windows for some missing functionality. There were no warnings/errors reported about this. My assembly was listed as 100% compatible with .NET Core yet these calls would fail on non-Windows.  The only reason I notice this is because I was looking through the files in the project.

[code]
And the

[2018-04-23 21:44] conniey commented on #620
Hey,

Thanks for bringing up this question! There are different angles we have to look at when understanding the "compatibility" of an application. One component is API compatibility and the other is runtime compatibility.

This tool tries to understand API compatibility between different .NET platforms.  The code will compile on .NET Core because [DllImportAttribute](https://apisof.net/catalog/Sy

[2018-04-24 13:39] CoolDadTx commented on #620
I agree that it isn't really an error but this is a hidden failure waiting to happen. The purpose of the tool is to help identify potential issues. I would think that any use of DllImport should trigger a warning or something to review the logic. Otherwise we're back to grepping our code because a DllImport isn't going to work on other platforms without modifications. I'd like to see these "potent

[2018-04-29 19:03] IanKemp opened #625 ""Recommended changes" should point users to Microsoft.Windows.Compatibility package where appropriate"
Should you happen to have code that is using Windows-specific APIs such as the registry, event log, performance counters, etc. then ApiPort will not give you any advice on how to port that code.

But there is a [NuGet package](https://www.nuget.org/packages/Microsoft.Windows.Compatibility), Microsoft.Windows.Compatibility, that covers many of these missing APIs. Although it is prerelease, it's def

[2018-05-02 09:36] IanKemp opened #631 "Solution-level analysis doesn't allow for analysing of references"
With the VSIX installed, right-clicking a solution gives two options: "Analyze" and "Settings". Right-clicking a project gives the same options, as well as a third: "Analyze with references".

Analysing a project's code alone is pretty much useless, because 9 times out of 10 it's the references that are the biggest issue, so not being able to analyse code + references from the solution node is a d

[2018-05-03 16:51] idlem1nd opened #633 "Cannot build offline version downloaded as a .zip"
I downloaded master as a zip and after restoring all the packages from our internal repos, I'm unable to build. I think this maybe due to the fact that the .git directories are missing, meaning some kind of version discovery fails and stops the build.

Warnings like this:
[code]

Precede errors like this:
[code]

[2018-05-09 21:59] chlowell commented on #620
The purpose of this tool is to help identify potential managed API compatibility issues, to help answer the question "would this compile for `some .NET target`" not "would this run on `some OS`".

We recognize `DllImport` can be a landmine and have discussed flagging it in some way in the past. However, it's not always dangerous. A .NET Framework app ported to .NET Core can run on Windows and invo

[2018-05-09 21:59] #620 closed

[2018-05-10 17:03] ericstj opened #640 "Potential feature: APIPort helper when nuget resolves an assembly from a different TFM"
/cc @terrajobst

See https://github.com/NuGet/Home/wiki/Enable-.NET-Core-2.0-projects-to-work-with-.NET-Framework-4.6.1-compatible-packages

When NuGet uses AssetTargetFallback to resolve an assembly from a different framework on the current one, wouldn't it be nice to have a helper that could launch API port to let a dev know how successful that might be?

Similarly it'd be nice to be able to do

[2018-05-14 19:05] danmosemsft opened #646 "Please update default .NET Core version to 2.1"
2.1 will hit final release very shortly - now is the perfect time to please change the .NET Core 2.0 checkbox to default to 2.1

![image](https://user-images.githubusercontent.com/6385855/40017696-fdc1331c-576e-11e8-96b6-46d1ed50f83e.png)

@conniey

[2018-05-14 19:57] #633 closed

[2018-05-14 19:59] twsouthwick commented on #594
@screig Just saw this. Are you behind a proxy?

[2018-05-17 00:19] chlowell opened #649 "Render HTML reports with ASP.NET Core MVC"
We can adapt the aspnet/Entropy [Mvc.RenderViewToString](https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString) sample to do this.

[2018-05-17 19:14] ericstj commented on #640
Not sure about an event.  There is a warning that shows up in the error list: NU1701.  Can you hook when someone double clicks that?  Alternatively can you add a right-click option to the reference node (which will have a Warning icon next to it)?

[2018-05-18 20:38] conniey commented on #646
This has been fixed! Thanks

[2018-05-18 20:38] #646 closed

[2018-05-31 20:35] conniey opened #667 "Update VSIX to use AsyncPackage"
When uploading the VSIX, we get this warning. We should update it to use `AsyncPackage`.

## Warning from VSIX Gallery
When using the ProvideAutoLoad attribute, your package (ApiPortVS.ApiPortVSPackage) class should derive from AsyncPackage instead of Package to improve performance. Read more about using AsyncPackage here: https://aka.ms/asyncpackage.

[2018-05-31 21:29] jeremymeng opened #668 "Publish the client as a .NET Core global tool"
https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools

It makes it easier to consume for developers.

[2018-06-01 18:00] leftler opened #671 "Changelog is not updated for 2.5.0.0 public release."
Version 2.5.0.0 has been released to the [visual studio marketplace](https://marketplace.visualstudio.com/items?itemName=ConnieYau.NETPortabilityAnalyzer) however the change log linked to on the market place page links to [/dotnet-apiport/blob/master/docs/VSExtension/Changelog.md](https://github.com/Microsoft/dotnet-apiport/blob/master/docs/VSExtension/Changelog.md) and at the time of this writing

[2018-06-01 20:20] #671 closed

[2018-06-04 11:37] NikitaEgorov opened #674 "System.InvalidOperationException: Sequence contains more than one matching element"
Microsoft (R) .NET Portability Analyzer 2.5.0.0
Copyright (C) Microsoft Corporation. All rights reserved.
About Tool http://go.microsoft.com/fwlink/?LinkId=506955
View Privacy Statement https://privacy.microsoft.com/en-us/privacystatement

Detecting assembly references                      [Done]

An unknown error occured.
System.InvalidOperationException: Sequence contains more than one matching

[2018-06-07 17:49] twsouthwick commented on #674
Thanks for the report. Is the input you used available for us to debug with? If anything, the commandline args you used are needed for repro.

[2018-06-11 02:43] conniey commented on #674
@NikitaEgorov Can you give a list of all the assembly names you are submitting for analysis?

It seems to be choking on [ApiPortClient.cs: L273](https://github.com/Microsoft/dotnet-apiport/blob/dev/src/lib/Microsoft.Fx.Portability/ApiPortClient.cs#L273)

[code]

[2018-06-13 15:02] twsouthwick commented on #674
We should look at the whole name, but also handle the duplicate case correctly

[2018-06-13 15:58] conniey commented on #674
@twsouthwick What should we do in the duplicate case? Choose the first one?

[2018-06-14 10:42] NikitaEgorov commented on #674
I use VS2007 Extension.
Extension does not showing list of assemblies

[2018-06-14 22:03] MIchaelMainer opened #678 "System.InvalidOperationException: The operation failed as details for project {projectName} could not be loaded."
VS 2017, 15.7.2
.NET Portability Analyzer 2.5.0.0

I'm trying to run this analyzer against https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/dev/src/Microsoft.Graph/Microsoft.Graph.csproj.

I'm getting this exception in here: [AnalyzeMenu.cs#L57](https://github.com/Microsoft/dotnet-apiport/blob/9aed82fdd855431cfd378cf10907b4e73ba96144/src/ApiPort/ApiPort.VisualStudio/AnalyzeMenu.cs#L57)

A

[2018-06-20 00:00] #674 closed

[2018-06-21 20:41] twsouthwick commented on #678
@conniey This looks to be a new style csproj. Did we add support for that?

[2018-06-22 22:18] conniey commented on #678
@twsouthwick No. I don't think the new style csproj was around when I had originally coded this.

[2018-06-29 07:45] Verarind opened #689 "NetStandard 2.0 - Net Framework 4.7 - Incompatibility of DisplayAttribute not reported"
The DisplayAttribute in System.ComponentModel.Annotations (Standard2.0, AssemblyVersion 4.5.0) and System.ComponentModel.DataAnnotations (.Net Framework 4.7) has different AttributeUsage Fields.
While the Standard-Version of the DisplayAttribute allows the usage of the attribute on classes, the .Net Framework-Version of the DisplayAttribute doesn´t allow usage on classes. So the .Net Framework 4.7

[2018-07-03 19:50] chlowell commented on #689
Thanks for opening this issue. You may be interested in dotnet/corefx#8123, which led to `AttributeTargets.Class` being added to the .NET Core implementation, and has a recent comment asking whether it will be added to the .NET Framework implementation as well.

Although `DisplayAttribute` is provided in a package supporting .NET Standard 2.0, the type isn't part of the 2.0 spec. You can browse th

[2018-07-03 19:50] #689 closed

[2018-07-19 09:07] shailesh757 opened #690 "Potential Feature: Generating report on the basis of application namespaces"
Hi,

Is there a way where we can generate the portability summary report grouped by namespaces rather than by the assembly? That would certainly help to analyze code where there could be some code which we certainly do not want to port.

Thanks,
Shailesh

[2018-07-26 07:42] Lidanha opened #692 "Detect all competability issues with a specific DLL file"
Hey,

I'm trying to understand what is the gap between an engine I have that compiled against .Net Framework (lets call it MainEngine.dll) that points to other libraries (more .Net Framework) to .Net Standard 2.0.

When running the following command:
apiport analyze -f "MainEngine.dll" -r EXCEL

It will analyze MainEngine and tell me its gaps. But it won't tell me the gaps of its dependencies. Eve

[2018-07-26 17:44] jeremymeng commented on #692
You can pass a directory to the `-f` switch: `apiport analyze -f . -r EXCEL` for example

[2018-07-27 05:45] Lidanha commented on #692
Thanks,

In my case I have an existing application and I don't even know the dependencies of each DLL file. Some DLLs in that folder are not even related to the one I need to convert to .Net Standard. For example:

WPFMain.dll
MainEngine.dll
SubEngine1.dll
SubEngine2.dll
WPFComponents.dll
SubEngine3.dll

I would like to run the apiport on MainEngine.dll and have results for all its dependent compo

[2018-07-30 20:56] safern opened #694 "If a Microsoft assembly is part of the input assemblies and has no references api port throws an error really hard to diagnose"
If I publish a .NET Core 2.0 app and I run `analyze -f "publishDirectory"` I will not get a report and the application will fail with a hard to diagnose error like this one:

[code]

Coming from here: https://github.com/Microsoft/dotnet-apiport/blob/dev/src/lib/Microsoft.Fx.Portability.MetadataReader/SystemObjectFinder.cs#L33

In order to find out what was wrong with my input directory I had to de

[2018-07-31 05:31] reevestrife opened #696 "There was an unknown error code from the service: 'InternalServerError'. Please make sure you have the most up-to-date version."
Hi I have a bug when running the extension:
I assume I have the lastest version, since I downloaded and installed it today.

Complete Output:

[2018-08-08 17:58] GeertvanHorrik opened #697 "Unable to analyzer app in .NET Core 3.0 Desktop API Analyzer"
[code]

Can I somehow provide logs of some kind?

[2018-08-08 23:41] chucker commented on #697
Getting this as well on one of three apps I've tested (this one is by far the most complex, with a mix of VB.NET and C#, and WinForms and WPF).

It does _not_ happen if I use the command-line version and explicitly set the `-f` argument to the `.exe` rather than the entire directory, so the problem is presumably with one of the dependencies in the directory.

[2018-08-09 07:02] MichaelVach commented on #697
Same error message for me when running PortabilityAnalyzer.exe on my WPF app.

[2018-08-09 07:03] MichaelVach commented on #696
Same error message for me when running the VS extension.

[2018-08-09 07:12] GeertvanHorrik opened #698 ".NET Core 3.0 Desktop API Analyzer resize issue"
![image](https://user-images.githubusercontent.com/1246444/43883717-57baa540-9bb4-11e8-8ef6-31f23ea8198d.png)

[2018-08-09 07:17] mikkelbu commented on #696
I got the same error. Then I waited 10 minutes and tried again and it worked, so perhaps the problem is the service being overloaded?

[2018-08-09 07:34] denisbredikhin commented on #697
I have the same issue with my app.

[2018-08-09 08:16] chucker commented on #697
I was able to pinpoint it down to a DLL, namely `de\Microsoft.SqlServer.Types.Resources.dll`. I'm therefore guessing this is a problem with resource DLLs.

[2018-08-09 08:20] GeertvanHorrik commented on #697
@chucker great analyses. I've removed all the resource assemblies from the app and now it works fine, thanks 👍

[2018-08-10 00:19] AraHaan opened #700 "Mono 5.x on VS Extension does not show."
In a Release of 5.x Mono added support for these things missing that the report says is missing in Mono v4.5:

System.Runtime.InteropServices.OSPlatform |   |   |   |  
-- | -- | -- | -- | --
get_Windows |   |   |   |  
  |   |   |   |  
System.Runtime.InteropServices.RuntimeInformation |   |   |   |  
IsOSPlatform(System.Runtime.InteropServices.OSPlatform) |   |   |  

As such on Mono 5.x those s

[2018-08-10 00:34] terrajobst commented on #697
@conniey @twsouthwick

It looks like API Port cannot analyze resource assemblies (`*..resources.dll`) as those have no references (not even to `mscorlib`). That seems to crash the MD reader. I suggest we exclude any files that are named `*.resources.dll`. Is this something we can fix? [A lot of our customers](https://blogs.msdn.microsoft.com/dotnet/2018/08/08/are-your-windows-forms-and-wpf-applica

[2018-08-10 00:36] chucker commented on #697
@terrajobst I wrote a possible fix in #699.

In the meantime, temporarily moving out the resource assemblies while testing a directory is an OK workaround.

[2018-08-10 00:39] terrajobst commented on #697
Thanks @chucker. Yes, deleting the resources file is a possible workaround.

[2018-08-10 00:40] chucker commented on #697
(Do I need to ping someone to ask them to review my pull request?)

[2018-08-10 00:42] terrajobst commented on #697
I'm pinging the API Port team. Your fix looks reasonabe to me but I'm hesitant to accept your changes as this isn't my code base. I'd rather @conniey or @twsouthwick would review & merge your PR.

[2018-08-15 10:15] Symbai opened #701 "Analyzing compatibility failed"
Hi, I'v ran the console version on a WPF application (debug build, anycpu where 64bit preferred, .NET framework 4.7.2) and I'm getting the following error:

[code]
Any idea what that is supposed to mean and what can have caused it? The target folder contains third party libraries which are obfuscated if that matters.

[2018-08-16 13:51] silentnightwalk commented on #479
Get the same error:
Downloaded Apiport from here:
https://blogs.msdn.microsoft.com/dotnet/2018/08/08/are-your-windows-forms-and-wpf-applications-ready-for-net-core-3-0/?utm_source=vs_developer_news&utm_medium=referral
(It goes with the winforms ui app).
Any help appreciated.

[2018-08-16 13:53] silentnightwalk commented on #694
Thanks, @safern, the question already contains the answer. Lets try.

[2018-08-18 06:32] themightylc commented on #697
I can confirm both problem and workaround.
Maybe worth mentioning: my first instinct was "this is caused by VB" because of the "System.Object" message - there are situations with packages that target the CLR (like Fody), where the "Missing System.Object" problem with VB projects pops up here and there.
But after simply removing System.Net.Http.Formatting.resources.dll in my case, I was able to ana

[2018-08-31 09:46] springy76 commented on #558
I'm sorry to say but this spaghetti monster given fake truth website is making me angry all the time -- maybe it is just plain wrong or I'm too dumb to understand it -- but as I got linked to it in multiple responses to my issues here, I need an answer what I'm doing wrong.

Example: System.IO.Compression.ZipArchiveEntry.ExternalAttributes property introduced in net472.
-> https://apisof.net/catal

[2018-08-31 09:56] springy76 commented on #557
A hint to use ".NET Standard **+ Platform Extensions**" would have been helpful. Even today I'm unable to find a concrete definition of "Platform Extensions". Is it a special NuGet package? Is it a well defined set of NuGet packages? Which ones exactly? The term " in addition to other .NET ecosystem such as WCF, ASP.NET Core, FSharp, and Azure" is not very concrete.

[2018-08-31 11:52] springy76 opened #702 "why neither "ASP.NET Core 2.1" nor ".NET Core + Platform Extensions 2.1"?"
My task is to migrate a large solution (120+ projects) containing a **ASP.NET Core 2.1** host -- which currently is targetting **net472** and references all the other projects in the solution -- to target **.NET Core 2.x** so it could be run on **Linux** in the near future.

.NET Core 3.0 is both too far in future and -- even worse -- it is no indicator for Non-Windows compatibility because classe

[2018-09-10 20:02] madskristensen opened #709 "Convert to AsyncPackage with background load"
Your extension package is currently autoloading using the [ProvideAutoload] attribute on a Package class. This is deprecated and will result in a yellow bar warning users about your extension using a suboptimal loading strategy.

Read more about the deprecation in [this MSDN blog post](https://blogs.msdn.microsoft.com/visualstudio/2018/05/16/improving-the-responsiveness-of-critical-scenarios-by-up

[2018-09-19 11:51] eyvindwa commented on #697
Seeing the same issue here with *.license.dll files, stemming from external components from GrapeCity.

[2018-09-19 20:52] twsouthwick commented on #694
@AlexGhiondea I don't think it'll matter. I can't fully remember why we need to find object, but I believe it was an edge case.

[2018-09-19 20:53] twsouthwick commented on #709
Thanks for the update. I believe we started doing this, but got side tracked with other projects. @conniey weren't you looking into this?

[2018-09-19 20:53] twsouthwick commented on #678
@conniey What would it take to support this?

[2018-09-19 20:56] twsouthwick commented on #701
This may be related to #697 fixed by #699

[2018-09-19 20:57] twsouthwick commented on #701
Actually, that's probably not the case. Are you behind a proxy?

[2018-09-19 21:14] #697 closed

[2018-09-19 21:16] twsouthwick commented on #694
@safern Can you pull the recent changes (I just merged a possible fix) and check if it solves it for you?

[2018-09-19 21:17] twsouthwick commented on #692
Yeah, this would be a feature request as we don't do that kind of thing now. You can always direct it at a single file or move to their own directories

[2018-09-19 21:18] twsouthwick commented on #709
Ah - we have an issue tracking this: #667 . I'll close this one and track it with that. Thanks!

[2018-09-19 21:18] #709 closed

[2018-09-19 21:42] safern commented on #694
Sure, I'll try it later today.

[2018-09-19 21:42] twsouthwick commented on #694
I just tried it and it's not fixed. I think I have a fix for it though - I'll let you know

[2018-09-20 00:07] twsouthwick commented on #694
Got a fix - the PR is open and once it passes everything I'll merge it in. It was slightly related to #699, but not entirely... similar area, but different fixes. I'll post a release (hopefully tomorrow) with the fixes available

[2018-09-20 00:29] #694 closed

[2018-09-20 00:36] terrajobst commented on #700
Good point. I've added Mono 5.0 to the API catalog. It should become visible within the hour. Once there, I'll close the issue.

[2018-09-20 00:43] terrajobst commented on #702
Laziness. I'll take a look.

[2018-09-20 01:29] AraHaan commented on #700
Thanks

[2018-09-20 02:10] AraHaan commented on #700
@terrajobst is this issue ready to close or is it not visible yet?

[2018-09-20 09:56] Symbai commented on #701
Hi,

no proxy / no VPN.

[2018-09-20 15:47] AraHaan commented on #700
🤔 I do not think that Mono 5.x supports ``System.Windows.Forms.PictureBox.set_TabStop(System.Boolean)`` or ``System.Windows.Forms.PictureBox.get_TabStop()`` yet I think due to some limitations to their GUI library which is libgdiplus or gtk#. @terrajobst

[2018-09-20 16:14] terrajobst commented on #700
It shows up now.

[code]

![image](https://user-images.githubusercontent.com/5169960/45832006-9b92ed00-bcb5-11e8-9faa-bd52121bcab5.png)

[2018-09-20 16:14] #700 closed

[2018-09-20 16:41] terrajobst commented on #700
API Port doesn't know whether the API works or behaves the way you'd expect. All it does is check whether the API exists. And `PictureBox.TabStop` [exists in Mono since 2.0](https://apisof.net/catalog/System.Windows.Forms.PictureBox.TabStop).

[2018-10-04 21:07] danmosemsft opened #715 "Check .NET Core 3.0 by default"
Many people are running this tool to check their Winforms/WPF apps against the upcoming .NET Core 3.0 bits. Apparently it's not on by default as I've gotten some reports without the 3.0 column.

Can you switch it on by default?

@conniey

[2018-10-16 21:03] conniey commented on #715
This is done now. Thanks!

[2018-10-16 21:03] #715 closed

[2018-10-17 15:25] sanketbakshi opened #717 "Could not load file or assembly 'Microsoft.VisualStudio.Threading"
I am getting the following error when trying to run the Portability Analyzer in VS2017. The following gets written in the Output window

An unknown error occured.
System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.VisualStudio.Threading, Version=15.3.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified

[2018-10-17 17:18] conniey commented on #717
@sanketbakshi Can you copy the Visual Studio version information by going to the "Help" menu "About Visual Studio" and "Copy Info?"

Thanks!

[2018-11-02 11:42] springy76 commented on #702
I'm very sorry to say this, but this tool -- in its current state -- is totally useless to me because 99.9% of the warnings are pure nonsense bullshit.

And the source of all problems is the inconsistency of how NuGet references are being treated. Some of them are associated with a "target platform": For example `Microsoft.Extensions.Logging.Abstractions` or `Newtonsoft.Json` seem to be related to

[2018-11-02 15:59] NullEntity commented on #667
869797ecf0eef6720310b9cee02312c906705bff involved some of this work. I tried cloning and running from dev to get a bug fix, but had issues with the background loading. Trying to run a portability analysis pretty frequently threw UnsupportedOperationExceptions from calling GetService from a background thread. I believe the issue may have been exacerbated by having 112 projects in our solution.

To

[2018-11-05 16:16] twsouthwick commented on #702
I think there is a misunderstanding of the role this tool is supposed to play. It's goal is to help analyze and understand the risk in moving to .NET Core for user assemblies and their reliance on framework APIs, not 3rd party APIs. The tool only knows about the libraries you pass in and does not traverse any dependency graph via NuGet to determine if there are available libraries. We did look int

[2018-11-05 16:33] springy76 commented on #702
Fully agree for the usage. But **IT IS** throwing unnecessary errors for some NuGet packages which have been declared as being part of NETCORE or ASPNETCORE.

I'm repeating myself the 3rd time: I HAVE NO INTEREST IN ANY WARNING ABOUT `Micrsoft.Extensions.*`, `Newtonsoft.Json` and such. They all are just plain netstand compatible libraries.

And that's the point: I'm checking any existing net4x lib

[2018-11-05 16:45] springy76 commented on #715
I wonder what someone would do with the knowledge that code will compile for .NET Core 3.0?
Will it run on Linux? Maybe, most likely not.

I have the feeling this project/tool should me merged with Platform Compatibility Analyzer.

[2018-11-05 18:04] danmosemsft commented on #715
@springy76 I can't speak for the owners of either tool. But note many times the user wants to run on Windows only. Eg., it is being commonly used right now by customers scanning their Winforms/WPF apps.

Also, the PCA needs the source code. In some cases, customers can not easily get the old source code of an assembly they rely on.

[2018-11-05 19:40] twsouthwick commented on #702
@terrajobst Are the `Microsoft.Extensions.*` and `Newtonsoft.Json` included in the catalog?

[2018-11-06 09:18] springy76 commented on #702
I just noticed that ".NET Standard + Platform Extensions,Version=v2.0" exists, which looks good so far 👍

[2018-11-06 12:29] springy76 opened #721 "System.Runtime.CompilerServices.IsReadOnlyAttribute again"
I just analyzed a lib which currently targets net472 against ".NET Standard + Platform Extensions,Version=v2.0".

It fails for #ctor in System.Runtime.CompilerServices.IsReadOnlyAttribute, but links no related code in Visual Studios error list like it usually does for other unsupported members.

As there (in this case) were no further warnings and upstream dependencies I was able to just switch fr

[2018-11-06 13:55] springy76 opened #722 "false warning for System.Threading.Tasks.Dataflow.DataflowBlockOptions.set_EnsureOrdered(System.Boolean)"
I get a warning for a check against netstandard2.0.

Source of problem is your source of truth, apisofnet:
While the [class itself](https://apisof.net/catalog/System.Threading.Tasks.Dataflow.DataflowBlockOptions) is listed for ".NET Standard + Platform Extensions 1.6", [its member EnsureOrdered](https://apisof.net/catalog/System.Threading.Tasks.Dataflow.DataflowBlockOptions.EnsureOrdered) is not l

[2018-11-06 17:19] conniey commented on #722
Hey,
The warning you have is not incorrect. The ".NET Standard" target is comprised of the APIs that get shipped when you use the [NETStandard.Library](https://www.nuget.org/packages/NETStandard.Library). ".NET Standard + Platform Extensions 1.6" is a super set of that target as it also includes libraries shipped by the ASP.NET Core team, and other libraries that aren't included in the standard.

[2018-11-06 17:29] springy76 commented on #722
I know. This still does not change that the information on apisofnet is wrong.

Other example:
https://apisof.net/catalog/Microsoft.AspNetCore.Mvc.ApplicationParts.CompiledRazorAssemblyPart
Tells me it only exists on netcore3.0.

I'm using this for months now, without using any kind of alpha, beta or other prerelease packages. Because it's part of officially released ASP.net-Core 2.1.

[2018-11-07 21:02] Symbai commented on #701
Gave it another try after a great while, this time I've used the visual studio addon (latest) and it worked out of the box. I'm closing this issue then, either its fixed already or it was a problem with standalone version.

[2018-11-07 21:02] #701 closed

[2018-11-08 12:08] conniey commented on #721
The root of this issue is: https://github.com/Microsoft/dotnet-apiport/issues/273. Unfortunately, we don't take into account compiler generated code and skip it.

[2018-11-08 12:08] #721 closed

[2018-11-08 12:17] conniey commented on #717
Closing because there isn't enough information to reproduce this issue.

I can see it working on Visual Studio 2017, version 15.8.9.

[2018-11-08 12:17] #717 closed

[2018-11-24 04:50] #667 closed

[2018-11-26 23:38] mpickers opened #726 "JsonConvert getting reported as not supported on 4.7.2, .net Standard 2.0 and .net Core 2.1"
Whilst trying to use the Compatability Analyzer to convert a library from .net framework to .net standard 2.0 compliant, I have noticed that it is reporting JsonConvert SerializeObject and DeserializeObject as NOT being compatible with ANY of .net framework 4.7.2, .net core 2.1 or .net standard 2.0

This doesn't make any sense.
To reproduce:
- Create a new .net Standard 2.0 class library.
- Add Ne

[2018-11-27 01:06] conniey commented on #726
Hey,

This tool focuses on APIs shipped by the .NET Framework (ie. System.*, Microsoft.*). We don't currently take into consideration third party libraries like Newtonsoft.Json.

I hope this helps,
Connie

[2018-11-27 01:30] mpickers commented on #726
@conniey I've downloaded the code, compiled it and ran it again against the same test app, this time it comes back as 100% compatible for all platforms.

When you say "we don't currently take into consideration third party libraries" do you mean that the VS "extension/plugin" version doesn't but the console app has the ability to scan these 3rd party dependencies?

It's rather confusing as the ext

[2018-11-27 12:59] tonyhallett opened #727 "No suggestion for compatible reflection extensions"
Running the tool against a .NET Framework class library containing reflection methods for .NET Core target there is no suggestion for https://www.nuget.org/packages/System.Reflection.TypeExtensions.

[2018-11-28 20:57] AlexGhiondea opened #728 "Excel file has 'Header for assembly name entries' header instead of 'Assembly'"
Look at the 3rd column

Actual

Target type | Target member | **_Header for assembly name entries_** | .NET Core + Platform Extensions | .NET Core | .NET Framework | .NET Standard + Platform Extensions | Recommended changes
-- | -- | -- | -- | -- | -- | -- | --

Expected

Target type | Target member | **_Assembly_** | .NET Core + Platform Extensions | .NET Core | .NET Framework | .NET Standard + P

[2018-11-28 20:57] AlexGhiondea commented on #728
/cc @conniey @twsouthwick

[2018-12-10 15:29] Thieum opened #729 "2.5.0.20 - SetSite failed for package on load in VS2017 15.9.3"
When starting Visual Studio 2017 Enterprise (15.9.3) with .Net Portability Analyzer 2.5.0.20,  I get the following error logged on startup:

[code]

[2018-12-11 17:05] Thieum commented on #729
Not sure it that's the error that prevents the option from appearing in the right click menu on the solution / projet menu.
A way to bypass the issue is to go in the extensions options (Tools / Options / .Net Portability Analyzer),  then the option will appear in the right click menu. (similar to the nuget / migrate packages.config issue)

[2018-12-15 17:29] #729 closed, assigned to conniey

[2018-12-17 01:37] skennedyfromfresche opened #733 "Crash executing against solution in VS 2017 15.9.4"
Running 'Analyze Assembly Portability' against our solution crashes VS2017 15.9.4. Its not clear if this as actually registered by VS as a crash as it simply restarts without a crash report dialog.

It appears it may be an issue with our solution containing managed C++ projects but its impossible to tell as the 'Analyze Assembly Portability' is not available if you select more than one project!

W

[2018-12-17 19:01] conniey commented on #733
Hey. Would you be able to go to the ActivityLog.xml and provide some details for that crash? Here's an article on how to get it: [To Examine the ActivityLog](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-the-activity-log?view=vs-2017#to-examine-the-activity-log)

This might be an issue that was fixed with #731

[2018-12-17 21:58] twsouthwick opened #738 "Method not found on VS2019"
When running on VS 2019, the following error is seen when right-clicking in the solution explorer and selecting a project:

[code]

[2018-12-18 03:06] twsouthwick commented on #733
@skennedyfromfresche I'm not sure if I follow what the structure of the project looks like. Are you describing a project `A` that references `B`. You want to analyze `A`, but `B` is a C++/CLI? It may be a problem with our logic to discover projects... not sure if we've tested with C++/CLI

[2018-12-18 03:13] twsouthwick commented on #733
I get the following when trying to analyze a C++/CLI project in the `Portability Analysis` output pane:

[code]

Is this what you're seeing, @skennedyfromfresche? I'll take a look as to what is causing that.

[2018-12-18 03:59] twsouthwick commented on #601
Hi @JerkerPihl - sorry for the slow response. Do you have a small repro we can use to test this with? Is `PRJ.dll` something that you can share with us?

[2018-12-18 04:00] twsouthwick commented on #600
This looks to be a duplicate of #601. If it's not, please give more information (ie a sample `.dll` or source we can test with)

[2018-12-18 04:00] #600 closed

[2018-12-18 07:43] #733 closed

[2018-12-18 07:44] #738 closed

[2018-12-18 16:02] twsouthwick commented on #726
@terrajobst Looks like JSON.NET is in the catalog. Are 3rd party libraries like this marked in the catalog in a special way to filter out?

[2018-12-18 16:03] twsouthwick commented on #726
This looks similar to #702

[2018-12-18 16:03] twsouthwick commented on #696
There may have been an outage. I can't reproduce this. If you are able to, please reopen the issue.

[2018-12-18 16:08] twsouthwick commented on #722
@terrajobst This API doesn't show up in apisof.net as being in .NET Standard 2.0, but the API is there in the .dll. Thoughts?

[2018-12-18 16:09] #696 closed

[2018-12-18 16:10] twsouthwick commented on #692
FYI This is not high on our priority list, but feel free to submit a proposal for it.

[2018-12-18 16:11] twsouthwick commented on #625
@terrajobst Is the catalog marked with APIs that are available in the `Microsoft.Windows.Compatibility` pack?

[2018-12-18 16:37] twsouthwick commented on #678
With the latest changes, this seems to be working. Let us know if you're still having trouble.

[2018-12-18 16:37] #678 closed

[2018-12-18 17:46] terrajobst commented on #726
Not systematically. Looking [at JSON.NET](https://apisof.net/catalog/Newtonsoft.Json) it seems we added because ASP.NET Core depends on it.

[2018-12-18 17:46] terrajobst commented on #625
The catalog does contains the packages that are part of the compat pack (they are part of the ` + Extension` groups).

[2018-12-18 17:58] twsouthwick commented on #726
We should probably filter those out I'm thinking. They aren't really helpful for the ApiPort scenarios

[2018-12-18 20:00] #649 closed

[2018-12-18 20:33] JoshMcCullough opened #744 "Unable to resolve service for type 'System.Diagnostics.DiagnosticSource' while attempting to activate 'Microsoft.AspNetCore.Mvc.Razor.RazorPageActivator'."
Just cloned the repo on Linux Mint 19, installed the .NET Core SDK (2.2), and ran `./build.sh` -- everything build fine until `Testing tests/lib/Microsoft.Fx.Portability.Reports.Html.Tests/Microsoft.Fx.Portability.Reports.Html.Tests.csproj`, where I get this error:

[code]

Not exactly sure what to do from here. Thanks!

[2018-12-18 21:00] conniey commented on #744
Thanks for reporting this! :) There is a bug in running the tests.

ApiPort probably built correctly.  You can run it by executing:
`dotnet bin/Debug/ApiPort/netcoreapp2.1/ApiPort.dll` (ex. `dotnet bin/Debug/ApiPort/netcoreapp2.1/ApiPort.dll analyze -f foo.dll`

[2018-12-19 02:32] JoshMcCullough commented on #744
I booted back over to Windows so I could move forward, I appreciate your help though!

[2019-01-08 09:41] conniey commented on #218
Fixed in: https://github.com/Microsoft/dotnet-apiport/pull/742

[2019-01-08 09:41] #218 closed

[2019-01-08 09:43] conniey commented on #491
Removed support for VS2015.

[2019-01-08 09:43] #491 closed

[2019-01-08 09:44] conniey commented on #726
Duplicate of #489

[2019-01-08 09:44] #726 closed

[2019-01-08 09:50] conniey commented on #572
duplicate of #450

[2019-01-08 09:50] #572 closed

[2019-01-08 09:57] conniey commented on #668
Related to #240

[2019-01-08 10:00] conniey commented on #727
Would you mind providing an example? I feel like I am missing some context. Are you suggesting that we update the "Recommended Changes"?

[2019-01-08 10:02] #568 closed

[2019-01-08 10:19] conniey commented on #594
Closing due to no response.

[2019-01-08 10:19] #594 closed

[2019-01-08 10:20] conniey commented on #394
Closing due to lack of response.

[2019-01-08 10:20] #394 closed

[2019-01-09 18:55] rabrahamOpti commented on #489
I have `Newtonsoft.Json 11.0.2` in my repo, used in a project that runs `.NET Framework 4.6` in production. `Newtonsoft.Json.JsonConvert`, `Newtonsoft.Json.Linq.JObject`, and `Newtonsoft.Json.JsonPropertyAttribute` are getting incorrectly flagged as "Not Supported" in `.NET Framework 4.6`.

I ran this using the Visual Studio Extension.

[2019-01-09 20:01] conniey commented on #489
@rabrahamOpti This is an a false negative. The issue is with the catalog. (see: https://apisof.net/catalog/Newtonsoft.Json)

It is not part of the .NET Framework, but was ingested for some of the targets. You can ignore this.

@terrajobst Is there any way we can remove this assembly from the catalog? It produces many false negatives.

[2019-01-23 18:54] conniey opened #749 "ApiPort.Offline fails to generate HTML report"
**Repro Steps**
1. Execute: `build.ps1 -Configuration Debug -Platform AnyCPU`
1. `cd bin\Debug\ApiPort.Offline\net461\`
1.  `.\ApiPort.exe analyze -f .\ApiPort.exe -r HTML`

**Expected**
An HTML report is generated

**Actual**
[code]

[2019-01-23 22:39] conniey commented on #728
Oddly enough, it's inserting the .resx comment rather than the value. 🤔 Could be a potential bug

[2019-01-25 18:02] #749 closed

[2019-02-14 08:02] the4u opened #758 "Analyzing compatibility Failed. There was an unexpected error. Please try again or contact apiport@microsoft.com for help."
hi,

in some dll's I'm taking such a error.

Analyzing compatibility                           [Failed]

There was an unexpected error.  Please try again or contact apiport@microsoft.com for help.

I'm using portability tool in offline mode and my command is like below:
C:\Users\aaaaaa\Desktop\dotnet-apiport-dev\bin\Debug\ApiPort.Offline\net461\ApiPort.exe analyze -f C:\aaaaaa\aaaaaa\aaaaaa\aaaaaa

[2019-02-17 23:47] skennedyfromfresche commented on #733
I would assume that is a different issue as I only ever experienced a crash. Hence I never really got to see any output as such.

I manually updated to v2.6.0 of the Portability Analyzer and I no longer see the crash. 👍

[2019-02-22 21:51] nalthoff opened #760 "System.Web.MVC shows as unsupported on 4.5.2+ frameworks"
I'm running the portability analyzer against a .NET framework 4.5.2 web app. If I run the analyzer against the code and target 4.5.2, i get a compatibility score of 95.66. I would expect a score of 100% since the code compiles without errors.

Some of the target types that are marked as unsupported are:

T:System.Web.Mvc.Controller
T:System.Web.Mvc.AreaRegistration
T:System.Web.Mvc.HttpGetAttribut

[2019-02-23 05:19] conniey commented on #760
This is similar to https://github.com/Microsoft/dotnet-apiport/issues/722. This tool reports APIs that are shipped by the .NET Framework team (ie. System.Collections.*, System.Threading.*). Unfortunately, OOB packages such as ones shipped from the ASP.NET team are not in the catalog. The catalog source is from https://apisof.net

[2019-02-23 05:19] #760 closed

[2019-03-25 10:49] rv93 opened #761 "Dubious results in portability analyzer report"
Hi Team,

I generated the portability report for `4.6.2` .Net Framework project to .Net Core v2.1.

In the target I'd also checkmarked `4.6.2` just to verify it shows 100% for the same project version or not.

To my surprise, it didn't show 100% for its own version. See the screenshot below.

![image (2)](https://user-images.githubusercontent.com/13730148/54913727-68a60c00-4f19-11e9-8ee4-bda483b14

[2019-03-25 16:44] conniey commented on #761
https://github.com/Microsoft/dotnet-apiport/issues/760#issuecomment-466618176
This tool only includes APIs that are shipped by the .NET Framework team. Out of band SDKs aren't part of the catalog. It's a false positive. https://apisof.net is where our data comes from.

[2019-03-28 04:21] #761 closed

[2019-04-16 20:58] mjrousos opened #762 "Update service reference to support DGML"
@AlexGhiondea added a cool DGML graph output format in #695, but it looks like it's not exposed as a report option (not available for -r, in the VS extension settings, or in output from listOutputFormats).

We should expose the DGML output as a report option.

[2019-05-09 14:49] ulln opened #763 "Insufficient report"
Please tell me what happens at runtime:
- Is a PlatformNotSupportedException thrown?
- Is an API supposed to work on a specific platform?

Without that information the tool is pretty much useless and merely answers the question "will it compile".
I need to know where my application will probably fail, without executing every single line of code.

[2019-05-09 18:45] conniey commented on #763
Hey,

Thanks for providing feedback! When we created the tool, it was meant to answer "Will it compile?" Our general use case for this tool was used for code bases where engineers had to cost out the effort for moving to new .NET platforms. So this gives a good overview of how much work it'll take to get your application to compile and what your third party dependencies are.

A tool that notifies

[2019-05-17 21:53] #763 closed

[2019-06-07 17:13] Lxiamail commented on #727
@tonyhallett hope you have worked out the problem. Closing this inactive issue now. Please feel free to open it if you have more info.

[2019-06-07 17:13] #727 closed

[2019-06-07 17:49] Lxiamail commented on #601
@JerkerPihl Hope you have worked on the problem. Closing the inactive issue for now. Please feel free to reopen the issue once you can share a repro.

[2019-06-07 17:49] #601 closed

[2019-06-10 17:56] Lxiamail opened #764 "The HyperLinks to About and Privacy doc on Portability Analyzer Setting are not navigatable"
In the VS extension, Portability Analyzer Setting dialog, the HyperLinks to "About Tool" and "View Privacy Statement" at the bottom of the dialog don't work.

[2019-06-13 00:09] Lxiamail commented on #758
@the4u Do you still have the problem? I can't repro the issue. If it still a blocking issue for you, can you look for ApiPort.log file generated as part of the run and share it with us?

[2019-06-13 05:42] hueidou opened #766 "Is there more detail in .NET Portability Report"
I find and modify code by .NET Portability Report, resolved most portability problem, but some can't. Is there more detail of related code I can output in .NET Portability Report?

![](https://user-images.githubusercontent.com/712892/59406296-369d9b00-8de0-11e9-994c-33bde229e782.png)

[2019-06-13 17:58] Lxiamail commented on #574
Looks like making [ApiPort client tool .NET core version to use global tools](https://github.com/microsoft/dotnet-apiport/issues/668) will address the same issue.

[2019-06-13 17:59] Lxiamail commented on #527
Looks like making [ApiPort client tool .NET core version to use global tools](https://github.com/microsoft/dotnet-apiport/issues/668) will address the same issue.

[2019-06-13 20:50] Lxiamail commented on #690
@shailesh757 If you output the report to excel, you can sort by namespace. Does that work for you?

[2019-06-13 21:15] #588 closed

[2019-06-13 21:18] Lxiamail commented on #457
This is the Core+platform extension feature.

[2019-06-13 21:18] #457 closed

[2019-06-13 21:20] Lxiamail commented on #451
Fixed by Connie.

[2019-06-13 21:20] #451 closed

[2019-06-13 21:25] Lxiamail commented on #404
This is not on the roadmap.